<!-- <div class="form-group row">
    <div class="col-lg-3">
        <navmenusctr></navmenusctr>
    </div>
    <div class="col-lg-9">
        <div class="container-fluid p-0">
            <div class="header-content">
                <div class="containt-item">
                    <div class="header-item">
                        <span class="title">Visualizador de procesos</span>
                    </div>
                </div>
            </div>
            <div class="filter">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <span>FECHA DE PROCESO</span>
                                <input type="text" formControlName="startDate" placeholder="dd/mm/yyyy" #dp="bsDatepicker" (keyup.enter)="firstSearch()" [bsConfig]="bsConfig" bsDatepicker DateDirective (focus)="cleanValidation()" [(bsValue)]="bsValueIni" [ngClass]="{'error-validate': isValidatedInClickButton && (!mainFormGroup.controls.startDate.valid || mainFormGroup.hasError('datesNotSortedCorrectly'))}"
                                />
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <label style="width: 100%;margin-top:45px;"><input type="checkbox"
                                      class="checkbox"></label>
                                </div>
                                <span style="margin-top: 45px">TODOS LOS PROCESOS</span>
                            </div>
                        </div>
                        <div class="row pull-right">
                            <div class="col-sm-3">
                                <button>
                          <span>Visualizar</span>
                        </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid form-group">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="grid-title">
                                <td class="grid-title-item">Cod. proceso</td>
                                <td class="grid-title-item">Skey</td>
                                <td class="grid-title-item">Planilla</td>
                                <td class="grid-title-item">Usuario</td>
                                <td class="grid-title-item">Póliza</td>
                                <td class="grid-title-item">Canal</td>
                                <td class="grid-title-item">Falta procesar</td>
                                <td class="grid-title-item">Fecha efecto</td>
                                <td class="grid-title-item">Inicio</td>
                                <td class="grid-title-item">Fin</td>
                                <td class="grid-title-item">Estado</td>
                            </tr>
                        </thead>
                    </table>
                    <ng-template #hideGrid>
                        <tbody>
                            <tr>
                                <td colspan="10">No se encontraron registros.</td>
                            </tr>
                        </tbody>
                    </ng-template>
                </div>
            </div>
            <div *ngIf="foundResults!=null && foundResults.length>0" class="row" style="display:flex">
                <div class="col-sm-12">
                    <ngb-pagination [(page)]="filter.PageNumber" [pageSize]="filter.LimitPerpage" [collectionSize]="totalItems" (pageChange)="pageChanged(filter.PageNumber)">
                        <ng-template ngbPaginationPrevious>Anterior</ng-template>
                        <ng-template ngbPaginationNext>Siguiente</ng-template>
                    </ngb-pagination>
                </div>
            </div>
        </div>
    </div>
</div> -->