<div class="form-group row">
    <div class="col-lg-3">
        <navmenusctr></navmenusctr>
    </div>
    <div class="col-lg-9">
        <div class="container-fluid p-0">
            <div class="header-content">
                <div class="containt-item">
                    <div class="header-item">
                        <span class="title">Visualizador de procesos</span>
                    </div>
                </div>
            </div>
            <div class="filter">
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <span>FECHA DE PROCESO</span>
                                <input type="text" #dp="bsDatepicker" [bsConfig]="bsConfig" bsDatepicker
                                    [(bsValue)]="bsValueIni" value="{{ bsValueIni | date:'dd/MM/yyyy' }}" 
                                    [(maxDate)]="bsValueFinMax" readonly>
                            </div>
                            <div class="col-sm-3">
                                <span>&nbsp;</span>
                                <button class="full-color" (click)="visualizadorProcess()" style="margin-top: 5px;">
                                    <span>Visualizar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="grid form-group">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="grid-title">
                                <td class="grid-title-item text-center">COD. PROCESO</td>
                                <td class="grid-title-item text-center">SKEY</td>
                                <td class="grid-title-item">TIPO PROCESO</td>
                                <td class="grid-title-item">PRODUCTO</td>
                                <td class="grid-title-item">PÓLIZA</td>
                                <td class="grid-title-item">CONTRATANTE</td>
                                <td class="grid-title-item text-center">INICIO</td>
                                <td class="grid-title-item text-center">FIN</td>
                                <td class="grid-title-item">USUARIO</td>
                                <td class="grid-title-item">ESTADO</td>
                            </tr>
                        </thead>
                        <ng-container *ngIf="processList!=null && processList.length>0; then showGrid else hideGrid">
                        </ng-container>
                    </table>
                    <ng-template #hideGrid>
                        <tbody>
                            <tr>
                                <td colspan="10">No se encontraron registros.</td>
                            </tr>
                        </tbody>
                    </ng-template>
                    <ng-template #showGrid>
                        <tbody>
                            <tr *ngFor="let item of listToShow; let row_no = index">
                                <td class="text-center">{{ item.NUM_COTIZACION }}</td>
                                <td class="text-center">{{ item.SKEY }}</td>
                                <td>{{ item.TIPO_MOVIMIENTO }}</td>
                                <td>{{ item.DES_PRODUCT }}</td>
                                <td>{{ item.NUM_POLIZA }}</td>
                                <td>{{ item.DES_CONTR }}</td>
                                <td class="text-center">{{ item.FECHA_HORA_ENVIO }}</td>
                                <td class="text-center">{{ item.FECHA_HORA_FIN }}</td>
                                <td>{{ item.DES_USUARIO }}</td>
                                <td>{{ item.DES_ESTADO }}</td>
                                <!-- <td>
                                      <img src="assets/icons/anular.png" title="Eliminar" alt="Eliminar" />
                                    </td> -->
                            </tr>
                        </tbody>
                    </ng-template>
                </div>
            </div>
            <ng-container *ngIf="processList!=null && processList.length>0; then showPagination"></ng-container>
            <ng-template #showPagination>
                <div class="row mt-4">
                    <div class="col-sm-12">
                        <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [collectionSize]="totalItems"
                            [maxSize]="maxSize" (pageChange)="pageChanged(currentPage)">
                            <ng-template ngbPaginationPrevious>ANTERIOR</ng-template>
                            <ng-template ngbPaginationNext>SIGUIENTE</ng-template>
                        </ngb-pagination>
                    </div>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<!-- Pantalla de carga -->
<div [hidden]="isLoading==false" class="loadingScreen">
    <div style="display:flex;height: 100%;width:100%">
        <i style="margin:auto;font-size: 50px" class="fa fa-spinner fa-spin"></i>
    </div>
</div>