.container-left {
  width: 20%;
  box-shadow: 1px 0 0 0 #d5cfdf;
  float: left;
}

.container-left .row-01 {
  width: 95%;
}

.container-left .row-01 h4 {
  padding-left: 10px;
  text-align: left;
  font-family: "Bliss Pro";
  font-weight: bold;
  font-size: 24px;
  color: #2b0d61;
  margin-top: 5px;
}

.container-left .row-01 p {
  padding-left: 10px;
  color: #806ea0;
  font-family: "Bliss Pro";
  font-size: 14px;
  font-weight: 500;
}

.container-left .row-02 {
  width: 100%;
}

.container-left .row-02 h4 {
  color: #2b0d61;
  font-family: "Bliss Pro";
  font-size: 20px;
  font-weight: bold;
  padding-left: 10px;
}

.container-left .row-02 ul {
  list-style: url("assets/icons/benefits.png") square;
}

.container-left .row-02 li {
  padding-left: 10px;
  color: #806ea0;
  font-family: "Bliss Pro";
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.container-left .row-02 .beneficios {
  width: 90%;
  margin: auto;
  border-radius: 6px;
  background-color: #e9e6ef;
}

.container-left .row-02 .beneficios .col01 {
  width: 15%;
  height: 100%;
  float: left;
  padding-top: 12px;
  padding-left: 10px;
  border: 1px solid red;
}

.container-left .row-02 .beneficios span {
  width: 85%;
  height: 100%;
  float: left;
  color: #806ea0;
  font-family: "Bliss Pro";
  font-size: 12px;
  font-weight: bold;
  padding-top: 8px;
  padding-right: 4px;
}

.container-left hr {
  width: 95%;
  border: 1px solid #d5cfdf;
}

.container-left .row-03 {
  width: 100%;
  text-align: center;
}

.container-left .row-03 h4 {
  color: #2b0d61;
  font-family: "Bliss Pro";
  font-size: 20px;
  font-weight: 700;
  padding-left: 10px;
  margin: 18px;
}

.container-left .row-03 h3 {
  padding-left: 10px;
  color: #2b0d61;
  font-family: "Bliss Pro";
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 18px;
}

.container-left .row-03 .btn-white {
  border: 1px solid #ed6e00;
  border-radius: 6px;
  background-color: #ffffff;
  color: #ed6e00;
  font-family: "Bliss Pro";
  padding: 15px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  margin: auto;
  cursor: pointer;
}
