<br>
<div class="container-left">
  <div class="row-01">
    <h4>¿Por qu&eacute; comprar el SOAT?</h4>
    <p>Nuestros clientes no tienen que sufrir un accidente para acceder
      a m&uacute;ltiples beneficios. Desde que reciben su SOAT electr&oacute;nico
      podrán gozar del programa "VENTAJAS PROTECTA" con descuentos en
      establecimientos y cl&iacute;nicas a nivel nacional.
    </p>
  </div>
  <hr>
  <div class="row-02">
    <h4>Obt&eacute;n estos beneficios:</h4>
    <ul>
      <li>Asistencia M&eacute;dica</li>
      <li>Asistencia Legal</li>
      <li>Asistencia Vial (Solo autom&oacute;viles)</li>
      <li>Servicios de Referencia y Coordinaci&oacute;n en Lima</li>
    </ul>
    <div class="beneficios">
      <div class="col01">
          <img  alt="" src="assets/icons/check_mas_beneficios.png" alt="Mas beneficios">
      </div>
      <div class="col02">
          <span>Descubre m&aacute;s sobre estos y otros beneficios que tenemos para ti</span>
      </div>
    </div>
  </div>
  <hr>
  <!-- <div class="row-03">
    <h4>
      Ahora puedes adquirir tu SOAT Plus con Protecta Security
    </h4>
    <h3>
      Adquiere tu soat
      plus agregando tan
      solo S/. 25 a tu SOAT
    </h3>
    <button type="button" class="btn-white">Quiero conocer m&aacute;s</button>
    <br>
    <br>
  </div> -->
</div>
