<app-modal #modalTerminosCondiciones [close]="false">
  <div class="m-body">
    <div class="terminos-titulo">
      <h1>Nuestros Términos y Condiciones</h1>
    </div>
    <div class="terminos-texto">
      <h5>Términos y condiciones</h5>
      <p>Declaro en mi calidad de Corredor de Seguros o Comercializador, que he cumplido con brindar la información relevante
        ​ ​del Certificado Soat Electrónico al contratante y/o asegurado, quien ha manifestado su consentimiento para contratar
        ​ el Certificado Soat Electrónico y para que se le remita al correo electrónico que indique en la presente página
        web, el ​Certificado S​oat ​Electrónico ​y los términos y condiciones de los cuales acepta haber tomado conocimiento​.
      </p>
    </div>
    <div class="botones">
      <button class="btn-orange" (click)="aceptarTerminos()">Cerrar</button>
    </div>
  </div>
</app-modal>
