<div class="form-group row">
  <div class="col-lg-3">
    <navmenusctr></navmenusctr>
  </div>
  <div class="col-lg-9">
    <div class="container-fluid">
      <div class="form-group row row-title-principal">
        <div class="col-sm-12 col-lg-12">
          <div class="title-princial">
            <a>Bienvenido a Protecta Security, {{ nombre }}.</a>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12 col-lg-12">
          <div class="text-descripcion">
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Vestibulum condimentum egestas congue.
              Curabitur consequat, lorem non interdum placerat.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>