<div class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <navmenusctr></navmenusctr>
    </div>
    <div class="col-md-9">
      <div class="container-fluid">

        <div class="header-content">
          <div class="containt-item">
            <div class="header-item">
              <span class="title">Mantenimiento Contratante-Sede</span>
            </div>
          </div>
          <!-- <div class="containt-item">
            <button (click)="addContractor()" class="full-color pull-right">
              <img src="assets/icons/add.png" />
              <span>Crear Contratante</span>
            </button>
          </div> -->
        </div>
        <div class="filter">
          <div class="card">
            <div class="card-body" [formGroup]="mainFormGroup">
              <div class="row">
                <div class="col-sm-12">
                  <h5>Datos del Contratante</h5>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-3">
                  <span>BUSCAR POR</span>
                  <select formControlName="searchMode" (change)="changeValidators()"
                    [ngClass]="{'error-validate': !mainFormGroup.get('searchMode').valid && mainFormGroup.get('searchMode').touched}">
                    <option value="0" disabled>Seleccionar</option>
                    <option value="1">Nro. Documento</option>
                    <option value="2">Nombres</option>
                  </select>
                </div>
                <div [hidden]="mainFormGroup.controls.searchMode.value!='1'" class="col-sm-3">
                  <span>TIPO DOCUMENTO</span>
                  <select id="DocumentSelection" formControlName="documentType" (change)="changeValidators()"
                    [ngClass]="{'error-validate': !mainFormGroup.get('documentType').valid && mainFormGroup.get('documentType').touched}">
                    <option value="" disabled>Seleccionar</option>
                    <option *ngFor="let documenttype of documentTypeList" value="{{documenttype.Id}}">
                      {{documenttype.Name}}</option>
                  </select>
                </div>
                <div [hidden]="mainFormGroup.controls.searchMode.value!='2'" class="col-sm-3">
                  <span>TIPO PERSONA</span>
                  <select formControlName="personType" (change)="changeValidators()"
                    [disabled]="mainFormGroup.controls.searchMode.value=='1' && mainFormGroup.controls.documentType.value=='2'">
                    <option value="0" disabled>Seleccionar</option>
                    <option
                      [selected]="mainFormGroup.controls.searchMode.value=='1' && mainFormGroup.controls.documentType.value=='2'"
                      value="1">Persona Natural
                    </option>
                    <option value="2">Persona Jurídica</option>
                  </select>
                </div>
                <div [hidden]="mainFormGroup.controls.searchMode.value!='1'" class="col-sm-3">
                  <span>NÚMERO DE DOCUMENTO (*)</span>
                  <input type="text" placeholder="Número Documento" maxlength="{{documentNumberLength}}"
                    (focus)="cleanValidators()" (keyup.enter)="firstSearch()" formControlName="documentNumber"
                    (keypress)="documentNumberKeyPress($event,mainFormGroup.controls.documentType.value)"
                    [ngClass]="{'error-validate': isValidatedInClickButton && !mainFormGroup.controls.documentNumber.valid}">

                  <span *ngIf="isValidatedInClickButton && !mainFormGroup.controls.documentNumber.valid"
                    class="mensaje-error-control">
                    <ng-container
                      *ngIf="mainFormGroup.get('documentNumber').hasError('required'); then required_documentNumber else invalid_documentNumber">
                    </ng-container>
                    <ng-template #required_documentNumber>El Nro de Documento es requerido.</ng-template>
                    <ng-template #invalid_documentNumber>El Nro de Documento no es válido.</ng-template>
                  </span>
                  <!-- <ng-container [ngSwitch]="true" *ngIf="mainFormGroup.get('dniNumber').errors!=null && mainFormGroup.get('dniNumber').dirty">
                        <span *ngSwitchCase="mainFormGroup.get('dniNumber').hasError('required')" class="mensaje-error-control">El Dni es requerido.</span>
                        <span *ngSwitchCase="mainFormGroup.get('dniNumber').hasError('minlength')" class="mensaje-error-control">El Dni debe tener 8 dígitos.</span>
                        <span *ngSwitchCase="mainFormGroup.get('dniNumber').errors.allCharactersAreEqual==true" class="mensaje-error-control">No todos los dígitos pueden ser iguales.</span>
                        <span *ngSwitchCase="mainFormGroup.get('dniNumber').errors.consecutiveNumbers==true" class="mensaje-error-control">No todos los dígitos pueden ser consecutivos.</span>
                      </ng-container> -->
                </div>
              </div>
              <div class="row">
                <div
                  [hidden]="mainFormGroup.controls.searchMode.value!='2' || mainFormGroup.controls.personType.value=='1'"
                  class="col-sm-3">
                  <span>RAZÓN SOCIAL (*)</span>
                  <input type="text" placeholder="Razón Social" formControlName="legalName" (focus)="cleanValidators()"
                    LegalNameDirective (keyup.enter)="firstSearch()" maxlength="60"
                    [ngClass]="{'error-validate': isValidatedInClickButton && !mainFormGroup.controls.legalName.valid}">
                  <span *ngIf="isValidatedInClickButton && !mainFormGroup.controls.legalName.valid"
                    class="mensaje-error-control">
                    <ng-container
                      *ngIf="mainFormGroup.get('legalName').hasError('required'); then required_legalName else invalid_legalName">
                    </ng-container>
                    <ng-template #required_legalName>La razón social es requerida.</ng-template>
                    <ng-template #invalid_legalName>La razón social no es válida.</ng-template>
                  </span>
                </div>
                <div
                  [hidden]="mainFormGroup.controls.searchMode.value!='2' || mainFormGroup.controls.personType.value=='2'"
                  class="col-sm-3">
                  <span>NOMBRES (*)</span>
                  <input type="text" placeholder="Nombres" formControlName="firstName" maxlength="19"
                    (focus)="cleanFirstNameValidator()" (keyup.enter)="firstSearch()" OnlyTextSpaceDirective
                    [ngClass]="{'error-validate': isValidatedInClickButton && !mainFormGroup.controls.firstName.valid}">
                  <span *ngIf="isValidatedInClickButton && !mainFormGroup.controls.firstName.valid"
                    class="mensaje-error-control">
                    <ng-container
                      *ngIf="mainFormGroup.get('firstName').hasError('required'); then required_firstName else invalid_firstName">
                    </ng-container>
                    <ng-template #required_firstName>El nombre es requerido.</ng-template>
                    <ng-template #invalid_firstName>El nombre no es válido.</ng-template>
                  </span>
                </div>
                <div
                  [hidden]="mainFormGroup.controls.searchMode.value!='2' || mainFormGroup.controls.personType.value=='2'"
                  class="col-sm-3">
                  <span>APELLIDO PATERNO (*)</span>
                  <input type="text" placeholder="Apellido Paterno" (focus)="cleanPaternalLastNameValidator()"
                    maxlength="19" OnlyTextSpaceDirective formControlName="paternalLastName"
                    (keyup.enter)="firstSearch()"
                    [ngClass]="{'error-validate': isValidatedInClickButton && !mainFormGroup.controls.paternalLastName.valid}">
                  <span *ngIf="isValidatedInClickButton && !mainFormGroup.controls.paternalLastName.valid"
                    class="mensaje-error-control">
                    <ng-container
                      *ngIf="mainFormGroup.get('paternalLastName').hasError('required'); then required_paternalLastName else invalid_paternalLastName">
                    </ng-container>
                    <ng-template #required_paternalLastName>El apellido paterno es requerido.</ng-template>
                    <ng-template #invalid_paternalLastName>El apellido paterno no es válido.</ng-template>
                  </span>
                </div>
                <div
                  [hidden]="mainFormGroup.controls.searchMode.value!='2' || mainFormGroup.controls.personType.value=='2'"
                  class="col-sm-3">
                  <span>APELLIDO MATERNO</span>
                  <input type="text" placeholder="Apellido Materno" (focus)="cleanMaternalLastNameValidator()"
                    OnlyTextSpaceDirective formControlName="maternalLastName" (keyup.enter)="firstSearch()"
                    maxlength="19"
                    [ngClass]="{'error-validate': isValidatedInClickButton && !mainFormGroup.controls.maternalLastName.valid}">
                  <span *ngIf="isValidatedInClickButton && !mainFormGroup.controls.maternalLastName.valid"
                    class="mensaje-error-control">
                    <ng-container *ngIf="!mainFormGroup.get('maternalLastName').valid; then invalid_maternalLastName">
                    </ng-container>
                    <!-- <ng-template #required_maternalLastName>El apellido materno es requerido.</ng-template> -->
                    <ng-template #invalid_maternalLastName>El apellido materno no es válido.</ng-template>
                  </span>
                </div>

              </div>
              <br>
              <div class="row pull-right">
                <div class="col-sm-3">
                  <button (click)="firstSearch()">
                    <span>Buscar</span>
                  </button>
                </div>
              </div>

            </div>
          </div>
        </div>
        <ng-template #hidePagination>
          <div class="row" style="display:flex">
            <div class="col-sm-12">
              <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [collectionSize]="totalItems"
                (pageChange)="pageChanged(currentPage)">
                <ng-template ngbPaginationPrevious>Anterior</ng-template>
                <ng-template ngbPaginationNext>Siguiente</ng-template>
              </ngb-pagination>
            </div>
          </div>
        </ng-template>
        <div class="grid form-group">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr class="grid-title">
                  <!-- <td class="grid-title-item">Código</td> -->
                  <td class="grid-title-item">Documento</td>
                  <!-- <td class="grid-title-item">Nro. Documento</td> -->
                  <td class="grid-title-item">Razón Social/Apellidos Nombres</td>
                  <td class="grid-title-item">Correo Electrónico</td>
                  <td class="grid-title-item">Teléfono</td>
                  <td class="grid-title-item">Tipo Sede</td>
                  <td class="grid-title-item">Descripción Sede</td>
                  <td class="grid-title-item">Ubigeo</td>
                  <td class="grid-title-item">Actividad Económica</td>
                  <td class="grid-title-item">Estado</td>
                  <td class="grid-title-item">Opciones</td>
                </tr>
              </thead>

              <div *ngIf="existResults; then hideGrid else showGrid"></div>
            </table>
            <ng-template #showGrid>
              <tbody>
                <tr>
                  <!-- <td colspan="8">{{msgErrorLista}}</td> -->
                  <td colspan="9">No se encontraron registros</td>
                </tr>
              </tbody>
            </ng-template>
            <ng-template #hideGrid>
              <tbody *ngFor="let item of foundResults">
                <tr>
                  <!-- <td>{{ item.Id }}</td> -->
                  <td>{{ item.DocumentType }}: {{ item.DocumentNumber }}</td>
                  <td>{{ item.FullName }}</td>
                  <td *ngIf="item.Email==''; then nullEmail else email"></td>
                  <ng-template #nullEmail>
                    <td>Email no registrado</td>
                  </ng-template>
                  <ng-template #email>
                    <td>{{item.Email}}</td>
                  </ng-template>

                  <td *ngIf="item.Phone==''; then nullPhone else phone"></td>
                  <ng-template #nullPhone>
                    <td>Teléfono no registrado</td>
                  </ng-template>
                  <ng-template #phone>
                    <td>{{item.Phone}}</td>
                  </ng-template>
                  <td *ngIf="item.LocationType==''; then NoLocationFound else LocationFound"></td>
                  <ng-template #NoLocationFound>
                    <td>No tiene sedes</td>
                    <td>No tiene sedes</td>
                    <td>No tiene sedes</td>
                    <td>No tiene sedes</td>
                    <td>No tiene sedes</td>
                  </ng-template>
                  <ng-template #LocationFound>
                    <td>{{ item.LocationType }}</td>
                    <td>{{ item.LocationDescription }}</td>
                    <td>{{ item.LocationDepartment }} - {{ item.LocationProvince }} - {{ item.LocationDistrict }}</td>
                    <td>{{ item.LocationEconomicActivity }}</td>
                    <td>{{ item.LocationStatus }}</td>
                  </ng-template>

                  <!-- <td>{{ item.ContractorLocationType }}</td>
                  <td>{{ item.ContractorLocationDescription }}</td>
                  <td>{{ item.ContractorLocationEmail }}</td>
                  <td>{{ item.ContractorLocationPhone }}</td> -->

                  <td>
                    <a (click)='openContractorModal(item)'><img alt="Editar" src="assets/icons/preview_soat_box.png"
                        title="Editar" style="cursor: pointer;height: 24px"></a>
                  </td>
                </tr>
              </tbody>
            </ng-template>
          </div>

        </div>

        <div *ngIf="existResults; then hidePagination else showPagination"></div>
        <ng-template #showPagination>
          <div></div>
        </ng-template>


      </div>
    </div>
  </div>
  <!-- Modal de alerta para operaciones -->
  <ng-template #modalContent let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Mensaje</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
      <!-- <button type="button" class="close" aria-label="Close" (click)="closeAlertModal()">
          <span aria-hidden="true">&times;</span>
      </button> -->
    </div>
    <div class="modal-body">

      <ul>
        <li *ngFor="let sms of successList">
          {{sms}}
        </li>
      </ul>
      <p *ngIf="errorList.length>0 && successList.length>0">---------------------------------------------</p>
      <ul *ngIf="errorList.length>0">
        <li style="font-weight: bold;list-style-type: none;font-size: 18px">Errores:</li>
        <li *ngFor="let error of errorList">
          {{error}}
        </li>
      </ul>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-light" (click)="modal.close('Close click')">CERRAR</button>
      <!-- <button type="button" class="btn btn-light" (click)="closeAlertModal()">Close</button> -->
    </div>
  </ng-template>

  <!-- Pantalla de carga -->
  <div [hidden]="isLoadingScreenNotVisible" class="loadingScreen">
    <div style="display:flex;height: 100%;width:100%">
      <i style="margin:auto;font-size: 50px" class="fa fa-spinner fa-spin"></i>
    </div>
  </div>