<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Detalle Contratante</h4>
  <button type="button" class="close" aria-label="Close" (click)="reference.close(hasChanges)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="filter">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-12">
              <h5>Datos de Contratante</h5>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-3">
              <span>TIPO DOCUMENTO</span>
              <input [(ngModel)]="contractor.DocumentType" type="text" placeholder="Tipo Documento" disabled>
            </div>
            <div class="col-sm-3">
              <span>NÚMERO DOCUMENTO</span>
              <input [(ngModel)]="contractor.DocumentNumber" type="text" placeholder="Número Documento" disabled>
            </div>
            <div class="col-sm-6">
              <span>CONTRATANTE</span>
              <input [(ngModel)]="contractor.FullName" type="text" placeholder="Contratante" disabled>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <span>DIRECCIÓN </span>
              <input [(ngModel)]="contractor.Address" type="text" placeholder="" disabled>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-6">
              <span>CORREO ELECTRÓNICO</span>
              <input [(ngModel)]="contractor.Email" type="text" placeholder="Correo Electrónico" disabled>
            </div>
            <div class="col-sm-4">
              <span>TELÉFONO</span>
              <input [(ngModel)]="contractor.Phone" type="text" placeholder="Teléfono" disabled>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>

    <div class="card">
      <div class="grid form-group">
        <div class="row">
          <div class="col-sm-12">
            <h5>Datos de Sedes</h5>
          </div>
        </div>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr class="grid-title">
                <td class="grid-title-item">Código</td>
                <td class="grid-title-item">Tipo</td>
                <td class="grid-title-item">Descripción</td>
                <td class="grid-title-item">Actividad Económica</td>
                <td class="grid-title-item">Estado</td>
                <td class="grid-title-item">Opciones</td>
              </tr>
            </thead>
            <ng-container *ngIf="locationsWereFound; then showContent;else hideContent"></ng-container>
            <ng-template #showContent>
              <tbody *ngFor="let item of contractorLocationList">
                <tr>
                  <td>{{item.Id}}</td>
                  <td>{{item.Type}}</td>
                  <td>{{item.Description}}</td>
                  <td>{{item.EconomicActivity}}</td>
                  <td>{{item.State}}</td>
                  <td class="data-table-tr-td" style="display:flex">
                    <img src="assets/icons/editar.png" title="Editar" alt="Editar" style="cursor: pointer;"
                      (click)="getContractorLocation(item.Id,true)" />
                    <img src="assets/icons/anular.png" title="Eliminar" alt="Eliminar"
                      style="cursor: pointer;margin-left:7px" (click)="confirmDeletion(item.Id)" />
                  </td>

                </tr>

              </tbody>
            </ng-template>
            <ng-template #hideContent>
              <tbody>
                <tr>
                  <td colspan="6">No se encontraron registros</td>
                </tr>
              </tbody>
            </ng-template>

          </table>

        </div>
        <ng-container *ngIf="locationsWereFound; then showPagination"></ng-container>
        <ng-template #showPagination>
          <div class="row">
            <div class="col-sm-12">
              <!-- <div style="margin:auto"> -->
              <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [collectionSize]="totalItems"
                (pageChange)="pageChanged(currentPage)">
                <ng-template ngbPaginationPrevious>Anterior</ng-template>
                <ng-template ngbPaginationNext>Siguiente</ng-template>
              </ngb-pagination>
            </div>
          </div>
        </ng-template>
      </div>
    </div>


  </div>

</div>
<div class="modal-footer">

  <button (click)="reference.close(hasChanges)"><span>Volver</span></button>
  <button class="full-color" (click)="getContractorLocation(null,false)"><span>Agregar Sede</span></button>
</div>

<!-- Pantalla de carga -->
<!-- <div [hidden]="isLoading" class="loadingScreen">
  <div style="display:flex;height: 100%;width:100%">
    <i style="margin:auto;font-size: 50px" class="fa fa-spinner fa-spin"></i>
  </div>
</div> -->