<div class="form-group row">
    <div class="col-lg-3">
        <navmenusctr></navmenusctr>
    </div>
    <div class="col-lg-9">
        <div class="container-fluid">
            <div class="header-content">
                <div class="containt-item">
                    <div class="header-item">
                        <span class="title">Consulta Solicitudes de Cotización</span>
                    </div>
                </div>
            </div>
            <div class="filter">
                <div class="card">
                    <div class="card-body" [formGroup]="mainFormGroup">

                        <div class="row">

                            <div class="col-sm-3">
                                <span>TIPO PRODUCTO</span>
                                <select formControlName="product">
                                    <option value="">Todos</option>
                                    <option *ngFor="let item of productTypeList" value="{{item.Id}}">
                                        {{item.Name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <span>ESTADO</span>
                                <select formControlName="status">
                                    <option value="">Todos</option>
                                    <option *ngFor="let item of statusList" value="{{item.Id}}">
                                        {{item.Name}}</option>
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <span>NRO. COTIZACIÓN</span>
                                <input formControlName="quotationNumber" type="text" placeholder="Número de Cotización"
                                    (paste)="onPaste($event)" (keyup)="quotationNumberChanged($event)"
                                    (keypress)="quotationNumberPressed($event)" (keyup.enter)="firstSearch()"
                                    maxlength="10" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <span>DESDE</span>
                                <input type="text" formControlName="startDate" placeholder="dd/mm/yyyy"
                                    #dp="bsDatepicker" (focus)="cleanValidation()" (keyup.enter)="firstSearch()"
                                    [bsConfig]="bsConfig" bsDatepicker DateDirective [(bsValue)]="bsValueIni"
                                    value="{{bsValueIni.toString() | date:'dd/MM/yyyy'}}"
                                    [ngClass]="{'error-validate': isValidatedInClickButton && (!mainFormGroup.controls.startDate.valid || mainFormGroup.hasError('datesNotSortedCorrectly')) && !mainFormGroup.valid}" />
                                <ng-container [ngSwitch]="true"
                                    *ngIf="isValidatedInClickButton && (!mainFormGroup.controls.startDate.valid || mainFormGroup.hasError('datesNotSortedCorrectly')) && !mainFormGroup.valid">
                                    <span *ngSwitchCase="mainFormGroup.get('startDate').hasError('required')"
                                        class="mensaje-error-control">La fecha inicial es requerida.</span>
                                    <span
                                        *ngSwitchCase="!mainFormGroup.controls.startDate.valid && !mainFormGroup.get('startDate').hasError('required')"
                                        class="mensaje-error-control">{{invalidStartDateMessage}}</span>
                                    <span *ngSwitchCase="mainFormGroup.hasError('datesNotSortedCorrectly')"
                                        class="mensaje-error-control">{{invalidStartDateOrderMessage}}</span>
                                </ng-container>
                            </div>
                            <div class="col-sm-3">
                                <span>HASTA</span>
                                <input type="text" formControlName="endDate" placeholder="dd/mm/yyyy" #dp="bsDatepicker"
                                    (focus)="cleanValidation()" (keyup.enter)="firstSearch()" [bsConfig]="bsConfig"
                                    bsDatepicker DateDirective [(bsValue)]="bsValueFin"
                                    value="{{bsValueFin.toString() | date:'dd/MM/yyyy'}}"
                                    [ngClass]="{'error-validate': isValidatedInClickButton && (!mainFormGroup.controls.endDate.valid || mainFormGroup.hasError('datesNotSortedCorrectly'))  && !mainFormGroup.valid}" />
                                <ng-container [ngSwitch]="true"
                                    *ngIf="isValidatedInClickButton && (!mainFormGroup.controls.endDate.valid || mainFormGroup.hasError('datesNotSortedCorrectly'))  && !mainFormGroup.valid">
                                    <span *ngSwitchCase="mainFormGroup.get('endDate').hasError('required')"
                                        class="mensaje-error-control">La fecha final es requerida.</span>
                                    <span
                                        *ngSwitchCase="!mainFormGroup.controls.endDate.valid && !mainFormGroup.get('endDate').hasError('required')"
                                        class="mensaje-error-control">{{invalidEndDateMessage}}</span>
                                    <span *ngSwitchCase="mainFormGroup.hasError('datesNotSortedCorrectly')"
                                        class="mensaje-error-control">{{invalidEndDateOrderMessage}}</span>
                                </ng-container>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-3">

                                <div>
                                    <span>&nbsp;&nbsp;BÚSQUEDA POR CONTRATANTE</span>
                                    <select formControlName="contractorSearchMode" (change)="cleanContractorInputs()">
                                        <option value="3" disabled>Seleccionar</option>
                                        <option *ngFor="let item of searchModeList" value="{{item.Id}}">
                                            {{item.Name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div *ngIf="mainFormGroup.controls.contractorSearchMode.value=='1'" class="col-sm-3">
                                <span>TIPO DOC. CONTRATANTE</span>
                                <select formControlName="contractorDocumentType"
                                    (change)="contractorDocumentTypeChanged()">
                                    <option value="" disabled>Seleccione</option>
                                    <option *ngFor="let item of documentTypeList" value="{{item.Id}}">
                                        {{item.Name}}</option>
                                </select>
                            </div>
                            <div *ngIf="mainFormGroup.controls.contractorSearchMode.value=='1'" class="col-sm-3">
                                <span>NRO. DOC. CONTRATANTE</span>
                                <input type="text" placeholder="Nro. Doc. Contratante"
                                    formControlName="contractorDocumentNumber" (keyup.enter)="firstSearch()"
                                    (keypress)="documentNumberKeyPress($event,mainFormGroup.controls.contractorDocumentType.value)"
                                    maxlength={{contractorDocumentMaxLength}}
                                    [ngClass]="{'error-validate': isValidatedInClickButton && !mainFormGroup.controls.contractorDocumentNumber.valid && !mainFormGroup.valid}" />
                                <span
                                    *ngIf="isValidatedInClickButton && !mainFormGroup.controls.contractorDocumentNumber.valid && !mainFormGroup.valid"
                                    class="mensaje-error-control">
                                    <ng-container
                                        *ngIf="mainFormGroup.get('contractorDocumentNumber').hasError('required'); then required_contractorDocumentNumber else invalid_contractorDocumentNumber">
                                    </ng-container>
                                    <ng-template #required_contractorDocumentNumber>El Nro de Documento es requerido.
                                    </ng-template>
                                    <ng-template #invalid_contractorDocumentNumber>El Nro de Documento no es válido.
                                    </ng-template>
                                </span>
                            </div>

                            <div *ngIf="mainFormGroup.controls.contractorSearchMode.value=='2'" class="col-sm-3">
                                <span>TIPO PERSONA</span>
                                <select formControlName="contractorPersonType" (change)="cleanContractorInputs()">
                                    <option value="0" disabled>Seleccionar</option>
                                    <option *ngFor="let item of personTypeList" value="{{item.Id}}">
                                        {{item.Name}}</option>
                                </select>
                            </div>
                            <div *ngIf="mainFormGroup.controls.contractorSearchMode.value=='2' && mainFormGroup.controls.contractorPersonType.value=='2'"
                                class="col-sm-3">
                                <span>RAZÓN SOCIAL</span>
                                <input type="text" formControlName="contractorLegalName" placeholder="Razón social"
                                    maxlength="60" (keyup.enter)="firstSearch()" LegalNameDirective />
                            </div>

                        </div>
                        <div class="row">
                            <div *ngIf="mainFormGroup.controls.contractorSearchMode.value=='2' && mainFormGroup.controls.contractorPersonType.value=='1'"
                                class="col-sm-3">
                                <span>NOMBRES</span>
                                <input type="text" formControlName="contractorFirstName" placeholder="Nombres"
                                    maxlength="19" (keyup.enter)="firstSearch()" OnlyTextSpaceDirective />
                            </div>
                            <div *ngIf="mainFormGroup.controls.contractorSearchMode.value=='2' && mainFormGroup.controls.contractorPersonType.value=='1'"
                                class="col-sm-3">
                                <span>APELLIDO PATERNO</span>
                                <input type="text" formControlName="contractorPaternalLastName"
                                    placeholder="Apellido paterno" (keyup.enter)="firstSearch()" maxlength="19"
                                    OnlyTextSpaceDirective />
                            </div>
                            <div *ngIf="mainFormGroup.controls.contractorSearchMode.value=='2' && mainFormGroup.controls.contractorPersonType.value=='1'"
                                class="col-sm-3">
                                <span>APELLIDO MATERNO</span>
                                <input type="text" formControlName="contractorMaternalLastName"
                                    placeholder="Apellido materno" (keyup.enter)="firstSearch()" maxlength="19"
                                    OnlyTextSpaceDirective />
                            </div>

                        </div>
                        <br>
                        <div [hidden]="isExternalUser" class="row">
                            <div class="col-sm-3">

                                <div>
                                    <span>&nbsp;&nbsp;BÚSQUEDA POR BROKER</span>
                                    <select formControlName="brokerSearchMode" (change)="cleanBrokerInputs()">
                                        <option value="3" disabled>Seleccionar</option>
                                        <option *ngFor="let item of searchModeList" value="{{item.Id}}">
                                            {{item.Name}}</option>
                                    </select>
                                </div>
                            </div>

                            <div *ngIf="mainFormGroup.controls.brokerSearchMode.value=='1'" class="col-sm-3">
                                <span>TIPO DOC. BROKER</span>
                                <select formControlName="brokerDocumentType" (change)="brokerDocumentTypeChanged()">
                                    <option value="" disabled>Seleccione</option>
                                    <option *ngFor="let item of documentTypeList" value="{{item.Id}}">
                                        {{item.Name}}</option>
                                </select>
                            </div>
                            <div *ngIf="mainFormGroup.controls.brokerSearchMode.value=='1'" class="col-sm-3">
                                <span>NRO. DOC. BROKER</span>
                                <input type="text" placeholder="Nro. Doc. Broker" formControlName="brokerDocumentNumber"
                                    (keyup.enter)="firstSearch()"
                                    (keypress)="documentNumberKeyPress($event,mainFormGroup.controls.brokerDocumentType.value)"
                                    maxlength={{brokerDocumentMaxLength}}
                                    [ngClass]="{'error-validate': isValidatedInClickButton && !mainFormGroup.controls.brokerDocumentNumber.valid && !mainFormGroup.valid}" />
                                <span
                                    *ngIf="isValidatedInClickButton && !mainFormGroup.controls.brokerDocumentNumber.valid && !mainFormGroup.valid"
                                    class="mensaje-error-control">
                                    <ng-container
                                        *ngIf="mainFormGroup.get('brokerDocumentNumber').hasError('required'); then required_brokerDocumentNumber else invalid_brokerDocumentNumber">
                                    </ng-container>
                                    <ng-template #required_brokerDocumentNumber>El Nro de Documento es requerido.
                                    </ng-template>
                                    <ng-template #invalid_brokerDocumentNumber>El Nro de Documento no es válido.
                                    </ng-template>
                                </span>
                            </div>
                            <div *ngIf="mainFormGroup.controls.brokerSearchMode.value=='2'" class="col-sm-3">
                                <span>TIPO PERSONA</span>
                                <select formControlName="brokerPersonType" (change)="cleanBrokerInputs()">
                                    <option value="0" disabled>Seleccionar</option>
                                    <option *ngFor="let item of personTypeList" value="{{item.Id}}">
                                        {{item.Name}}</option>
                                </select>
                            </div>
                            <div *ngIf="mainFormGroup.controls.brokerSearchMode.value=='2' && mainFormGroup.controls.brokerPersonType.value=='2'"
                                class="col-sm-3">
                                <span>RAZÓN SOCIAL</span>
                                <input type="text" formControlName="brokerLegalName" placeholder="Razón social"
                                    maxlength="60" (keyup.enter)="firstSearch()" LegalNameDirective />
                            </div>

                        </div>
                        <div [hidden]="isExternalUser" class="row">
                            <div *ngIf="mainFormGroup.controls.brokerSearchMode.value=='2' && mainFormGroup.controls.brokerPersonType.value=='1'"
                                class="col-sm-3">
                                <span>NOMBRES</span>
                                <input type="text" formControlName="brokerFirstName" placeholder="Nombres"
                                    maxlength="19" (keyup.enter)="firstSearch()" OnlyTextSpaceDirective />
                            </div>
                            <div *ngIf="mainFormGroup.controls.brokerSearchMode.value=='2' && mainFormGroup.controls.brokerPersonType.value=='1'"
                                class="col-sm-3">
                                <span>APELLIDO PATERNO</span>
                                <input type="text" formControlName="brokerPaternalLastName"
                                    placeholder="Apellido paterno" (keyup.enter)="firstSearch()" maxlength="19"
                                    OnlyTextSpaceDirective />
                            </div>
                            <div *ngIf="mainFormGroup.controls.brokerSearchMode.value=='2' && mainFormGroup.controls.brokerPersonType.value=='1'"
                                class="col-sm-3">
                                <span>APELLIDO MATERNO</span>
                                <input type="text" formControlName="brokerMaternalLastName"
                                    placeholder="Apellido materno" (keyup.enter)="firstSearch()" maxlength="19"
                                    OnlyTextSpaceDirective />
                            </div>

                        </div>
                        <div [hidden]="!isExternalUser" class="row">
                            <div class="col-sm-12">
                                <span>MI RAZÓN SOCIAL: </span>
                                <input disabled type="text" value="{{brokerName}}" />
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <button class="full-color pull-right" style="margin-top: 15px;" (click)="firstSearch()">
                                    <span>Buscar</span>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid form-group">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr class="grid-title">
                                    <td class="grid-title-item">Cotización</td>
                                    <td class="grid-title-item">Producto</td>
                                    <td class="grid-title-item">Contratante</td>
                                    <td class="grid-title-item">Prima Mínima</td>
                                    <td class="grid-title-item">Nro. Trabajadores</td>
                                    <td class="grid-title-item">Planilla</td>
                                    <td class="grid-title-item">Broker</td>
                                    <td class="grid-title-item">Comisión</td>
                                    <td class="grid-title-item">Estado</td>
                                    <td class="grid-title-item">Opciones</td>
                                </tr>
                            </thead>
                            <ng-container
                                *ngIf="foundResults==null || foundResults.length==0; then hideGrid else showGrid">
                            </ng-container>
                        </table>
                        <ng-template #hideGrid>
                            <tbody>
                                <tr>
                                    <td colspan="11">No se encontraron registros.</td>
                                </tr>
                            </tbody>
                        </ng-template>
                        <ng-template #showGrid>
                            <tbody *ngFor="let item of foundResults">
                                <tr>
                                    <td>{{ item.QuotationNumber}}</td>
                                    <td>{{ item.ProductName }}</td>
                                    <td>{{item.ContractorFullName}}</td>
                                    <td>{{ item.MinimalPremium }}</td>
                                    <td>{{ item.WorkersCount }}</td>
                                    <td>{{ item.Payroll}}</td>
                                    <td>{{item.BrokerFullName}}</td>
                                    <td>{{ item.Bounty}}</td>
                                    <td>{{ item.Status}}</td>
                                    <td style="display: flex">

                                        <a (click)="seeTracking(item.QuotationNumber)"><img alt="Ver movimientos"
                                                src="assets/icons/preview_soat_box.png" title="Ver movimientos"
                                                style="cursor: pointer;height: 24px"></a>
                                        <a (click)="openDetails(item)"><img alt="Ver detalles"
                                                src="assets/icons/see.svg" title="Ver detalles"
                                                style="cursor: pointer;height: 24px;margin-left: 15px"></a>
                                        <ng-container *ngIf="item.Mode=='emitir'">
                                            <a (click)="emit(item)"><img alt="Emitir" src="assets/icons/enviar.png"
                                                    title="Emitir"
                                                    style="cursor: pointer;height: 24px;margin-left: 15px"></a>
                                        </ng-container>

                                    </td>

                                </tr>
                            </tbody>
                        </ng-template>

                    </div>
                </div>
                <div *ngIf="foundResults!=null && foundResults.length>0" class="row" style="display:flex">
                    <div class="col-sm-12">
                        <ngb-pagination [(page)]="filter.PageNumber" [pageSize]="filter.LimitPerPage"
                            [maxSize]="maxSize" [collectionSize]="totalItems"
                            (pageChange)="pageChanged(filter.PageNumber)">
                            <ng-template ngbPaginationPrevious>Anterior</ng-template>
                            <ng-template ngbPaginationNext>Siguiente</ng-template>
                        </ngb-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Pantalla de carga -->
<div [hidden]="isLoading==false" class="loadingScreen">
    <div style="display:flex;height: 100%;width:100%">
        <i style="margin:auto;font-size: 50px" class="fa fa-spinner fa-spin"></i>
    </div>
</div>