  <!-- <label for="file">Escoger File</label>
                  <input type="file" 
                               id="file"
                               (change)="handleFileInput($event.target.files)" 
                               class="file">-->
                        <div class="upload-btn-wrapper">
                                <button class="btn full-color btnUpload">Examinar</button>
                                <input type="file" name="myfile" (change)="handleFileInput($event.target.files)" />
                        </div>
        
 