select {
  width: 100%;
  border: none;
  display: block;
  padding: 8px 5px;
  border: 1px solid rgb(146, 138, 163);
  border-radius: 2px;
  margin-top: 5px;
  color: rgb(146, 138, 163);
  font-family: "Bliss Pro";
  font-size: 14px;
  height: 45px;
  padding-left: 12px;
  font-weight: 300;
  color: #aa9ec0;
  border: 1px solid #aa9ec0;
}
