.texto {
  color: #2B0D61;
  font-family: "Bliss Pro";
  font-size: 24px;
  font-weight: bold;
  text-align: justify;
  padding: 5px;
}

.texto select {
  color: #806EA0;
  font-family: "Bliss Pro";
  font-size: 18px;
  font-weight: 500;
  text-align-last: center;
  outline: none;
  border: none;
  border-bottom: 1px solid #806EA0;
  box-shadow: none;
  background-image: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
  }

input::-ms-clear {
      display: none;
  }
  
.texto input[type=text] {
  color: #806EA0;
  font-family: "Bliss Pro";
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  border: none;
  border-bottom: 1px solid #806EA0;
  outline: none;
  text-transform: uppercase;
}

.texto input[type=date] {
  text-align: center;
  color: #806EA0;
  font-family: "Bliss Pro";
  font-size: 18px;
  font-weight: 500;
  border: none;
  border-bottom: 1px solid #806EA0;
  outline: none;
}

.texto input[type=number] {
  text-align: center;
  color: #806EA0;
  font-family: "Bliss Pro";
  font-size: 18px;
  border: none;
  border-bottom: 1px solid #806EA0;
  outline: none;
}

.texto .ss {
  width: 5rem;
}

.texto .mm {
  width: 10rem;
}

.texto .ll {
  width: 12rem;
}

.botones {
  width: 100%;
  margin-top: 3%;
}

.btn-siguiente {
  border-radius: 6px;
  background-color: #ED6E00;
  color: #FFFFFF;
  font-family: "Bliss Pro";
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 296px;
  margin-left: 30px;
  height:46px;  
}

.linea{
  border-top: 2px solid #bdafd8;
}
.contenido{
  width: 100%;
  margin-bottom: 10px;

}
.contenido-nro{
  height: 38px;
  width: 38px;
  border-radius: 28.8px;
  background-color: #ED6E00;
  padding: 7px 15px;
  float: left;
  margin-right: 8px;
}
.contenido-nro a{
  height: 14px;
  width: 9px;
  color: #FFFFFF;
  font-family: "Bliss Pro";
  font-size: 18px;
  font-weight: bold;
  line-height: 14px;
  text-align: center;
}

.contenido-title{
  padding: 6px;
}
.contenido-title a{
  height: 21px;
  width: 464px;
  color: #2B0D61;
  font-family: "Bliss Pro";
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
}
.creaunsoatmanual {
  height: 31px;
  width: 100%;
  color: #553D81;
  font-family: "Bliss Pro";
  font-size: 32px;
  font-weight: bold;
  line-height: 31px;
  margin-top: 10px;
}

.textplaca{
  line-height: 1.23;
  font-size: 2rem;
  width: 100%;
  color: #AA9EC0;
  font-family: "Bliss Pro";
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
  text-align: center;
  border: 2px solid #AA9EC0;
  text-transform:uppercase;
}
.mensajeplaca{
  height: 48px;
  width: 100%;
  color: #FD2F21;
  font-family: "Bliss Pro";
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.btn-validar-placa{
  height: 46px;
  width: 100%;
  border-radius: 6px;
  background-color: #ED6E00;
  color: #FFFFFF;
  font-family: "Bliss Pro";
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  text-align: center;
}
.label-formulario-regresar{
  height: 1.92%;
  width: 100%;
  color: #806EA0;
  font-family: "Bliss Pro";
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
  text-align: center;
}
.label-formulario{
  height: 14px;
  width: 100%;
  color: #2B0D61;
  font-family: "Bliss Pro";
  font-size: 12px;
  font-weight: bold;
  line-height: 14px;
}
.select-formulario{
  height: 46px !important;
  width: 100%;
  text-align: center;
  border: 1px solid #AA9EC0;
  color: #AA9EC0;
  font-family: "Bliss Pro";
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none; 
  background: url(assets/icons/dropdown_icon.png) no-repeat 97%;
}
.input-text-formulario{
  height: 46px !important;
  width: 100%;
  text-align: left;
  border: 1px solid #AA9EC0;
  color: #AA9EC0;
  font-family: "Bliss Pro";
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  text-transform: uppercase;
}
::placeholder {
  color: #AA9EC0;
  opacity: 1; /* Firefox */
  text-transform: initial;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url(assets/icons/chevron-small-down.png) 97% no-repeat;
}

.volver {
  padding: 12px;
}

@media (max-width: 576px) {
  .btn-siguiente {
    width: 100%;
    margin-left: 0px;
    margin-top: 15px;
  }
}

select.error-validate, input.error-validate {
  border: 1px solid #ff0000;
}