<div class="form-group row">
	<div class="col-lg-3">
		<navmenusctr></navmenusctr>
	</div>
	<div class="col-lg-9">
		<div class="container-fluid p-0">
			<div class="header-content mb-3">
				<div class="containt-item">
					<div class="header-item">
						<span class="title">{{title}}</span>
					</div>
				</div>
			</div>
			<form #f="ngForm" (ngSubmit)="generarPoliza(f)">
				<div class="accordion mt-2">
					<div class="card-header">
						<h5 class="mb-0" data-toggle="collapse" data-target="#contratante" aria-expanded="true"
							aria-controls="contratante">
							Datos de Cotización
							<i class="fa fa-angle-down pull-right" style="position: relative; top: 4px;"></i>
						</h5>
					</div>
					<div id="contratante" class="collapse show pt-1">
						<div class="row">
							<input [(ngModel)]="nrocotizacion" name="nrocotizacion" type="hidden" placeholder=""
								(keypress)="valText($event, 1)">
							<div class="col-sm-3" *ngIf="saludList.length > 0">
								<span>NRO. PÓLIZA SCTR SALUD</span>
								<input type="text" [(ngModel)]="NroSalud" name="NroSalud" placeholder="0" disabled>
							</div>
							<div class="col-sm-3" *ngIf="pensionList.length > 0">
								<span>NRO. PÓLIZA SCTR PENSIÓN</span>
								<input type="text" [(ngModel)]="NroPension" name="NroPension" placeholder="0" disabled>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion mt-2">
					<div class="card-header">
						<h5 class="mb-0" data-toggle="collapse" data-target="#contratante" aria-expanded="true"
							aria-controls="contratante">
							Datos del Contratante
							<i class="fa fa-angle-down pull-right" style="position: relative; top: 4px;"></i>
						</h5>
					</div>
					<div id="contratante" class="collapse show pt-1">
						<div class="row">
							<div class="col-sm-3">
								<span>TIPO DOCUMENTO (*)</span>

								<select disabled [(ngModel)]="polizaEmitCab.TIPO_DOCUMENTO" name="TIPO_DOCUMENTO"
									class="minimal">
									<option [value]="polizaEmitCab.TIPO_DOCUMENTO">
										{{polizaEmitCab.TIPO_DES_DOCUMENTO}}</option>
								</select>
							</div>
							<div class="col-sm-3">
								<span>NRO DE DOCUMENTO (*)</span>
								<input type="text" [(ngModel)]="polizaEmitCab.NUM_DOCUMENTO" name="NUM_DOCUMENTO"
									placeholder="Nro De Documento" disabled />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-9">
								<span>NOMBRES Y APELLIDOS / RAZÓN SOCIAL</span>
								<input type="text" [(ngModel)]="polizaEmitCab.NOMBRE_RAZON" name="NOMBRE_RAZON"
									placeholder="Nombres" disabled />
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<span>DIRECCIÓN</span>
								<input type="text" [(ngModel)]="polizaEmitCab.DIRECCION" name="DIRECCION"
									placeholder="Dirección" disabled />
							</div>
							<div class="col-sm-3">
								<span>CORREO ELECTRÓNICO</span>
								<input type="text" [(ngModel)]="polizaEmitCab.CORREO" name="CORREO"
									placeholder="Correo Electrónico" disabled />
							</div>
						</div>
					</div>
				</div>
				<div class="accordion mt-2">
					<div class="card-header">
						<h5 class="mb-0" data-toggle="collapse" data-target="#comercializador" aria-expanded="true"
							aria-controls="comercializador">
							Datos Brokers
							<i class="fa fa-angle-down pull-right" style="position: relative; top: 4px;"></i>
						</h5>
					</div>
					<div id="comercializador" class="collapse show pt-1">
						<!-- <div class="row">
							<div class="col-sm-3">
								<span>TIPO DOCUMENTO</span>
								<select disabled [(ngModel)]="this.polizaEmitComerDTOPrincipal.TYPE_DOC_COMER"
									name="TYPE_DOC_COMER" class="minimal">
									<option [value]="this.polizaEmitComerDTOPrincipal.TYPE_DOC_COMER">
										{{this.polizaEmitComerDTOPrincipal.DES_DOC_COMER}}</option>

								</select>
							</div>
							<div class="col-sm-3">
								<span>NRO. DOCUMENTO</span>
								<input [(ngModel)]="this.polizaEmitComerDTOPrincipal.DOC_COMER" name="DOC_COMER"
									type="text" placeholder="Documento" id="" disabled />
							</div>
							<div *ngIf="!editFlag" class="col-sm-6">
								<div [hidden]="canAddSecondaryBroker" *ngIf="polizaEmitComer.length < 2">
									<span>&nbsp;</span>
									<a class="pull-right" (click)="addBroker()" title="Agregar">
										<img src="assets/icons/add_button_calendar.png" />
									</a>
								</div>
							</div>
						</div> -->
						<!-- <div class="row">
							<div class="col-sm-9">
								<span>NOMBRES Y APELLIDOS / RAZÓN SOCIAL</span>
								<input type="text" [(ngModel)]='polizaEmitComerDTOPrincipal.COMERCIALIZADOR'
									name="COMERCIALIZADOR" placeholder="Nombres" disabled />
							</div>
						</div> -->
						<!-- <div class="row">
							<div class="col-sm-3" *ngIf="saludList.length > 0">
								<span>COMISIÓN SALUD</span>
								<input type="text" [ngModel]="polizaEmitComerDTOPrincipal.COMISION_SALUD_AUT"
									(ngModelChange)="polizaEmitComerDTOPrincipal.COMISION_SALUD_AUT =$event"
									name="COMISION_SALUD_AUT" placeholder="0" id="" disabled />
							</div>
							<div class="col-sm-3" *ngIf="saludList.length > 0">
								<label style="margin: 0;"><span class="schk"><input type="checkbox" style="top: 3px;"
											class="checkbox" (change)="primaPropuesta(1)" [disabled]="editFlag">
										COMISIÓN PROPUESTA</span></label>
								<input type="text" [ngModel]="polizaEmitComerDTOPrincipal.COMISION_SALUD_PRO"
									(ngModelChange)="polizaEmitComerDTOPrincipal.COMISION_SALUD_PRO =$event"
									name="COMISION_SALUD_PRO" placeholder="0" [disabled]="stateBrokerSalud"
									style="margin-top: 2px !important;" FloatDirective />
							</div>
							<div class="col-sm-3" *ngIf="pensionList.length > 0">
								<span>COMISIÓN PENSIÓN</span>
								<input type="text" [ngModel]="polizaEmitComerDTOPrincipal.COMISION_PENSION_AUT"
									(ngModelChange)="polizaEmitComerDTOPrincipal.COMISION_PENSION_AUT =$event"
									name="COMISION_PENSION_AUT" placeholder="0" disabled />
							</div>
							<div class="col-sm-3" *ngIf="pensionList.length > 0">
								<label style="margin: 0;"><span class="schk"><input type="checkbox" style="top: 3px;"
											class="checkbox" (change)="primaPropuesta(2)" [disabled]="editFlag">
										COMISIÓN PROPUESTA</span></label>
								<input type="text" [ngModel]="polizaEmitComerDTOPrincipal.COMISION_PENSION_PRO"
									(ngModelChange)="polizaEmitComerDTOPrincipal.COMISION_PENSION_PRO =$event"
									name="COMISION_PENSION_PRO" placeholder="0" [disabled]="stateBrokerPension"
									style="margin-top: 2px !important;" FloatDirective />
							</div>
						</div> -->
						<div class="row">
							<div class="col-sm-12">
								<div *ngIf="!editFlag">
									<div [hidden]="!canAddSecondaryBroker" *ngIf="polizaEmitComer.length < 3">
										<button class=" pull-right" (click)="addBroker($event.preventDefault())"
											style="margin: 10px 0 20px 0">
											<span>Agregar</span>
										</button>
									</div>
								</div>

								<table class="table table-borderless riesgo tblbroker" style="margin-top: 10px;">
									<thead>
										<tr class="d-flex">
											<th class="col-sm text-center"><label>Tipo Documento</label></th>
											<th class="col-sm text-center"><label>Nro Documento</label></th>
											<th class="col-sm text-center"><label>Razón Social / Nombres y
													Apellidos</label></th>
											<th class="col-sm text-center" *ngIf="saludList.length > 0"><label>Comisión
													Salud</label></th>
											<th class="col-sm text-center ctasa" *ngIf="saludList.length > 0">
												<input type="hidden" value="{{editFlag}}" />
												<input type="hidden" value="{{canProposeComission}}" />
												<label><input type="checkbox" class="checkbox" [disabled]="editFlag == true || canProposeComission == false"
														(change)="primaPropuesta(7)" name="stateBroker"><span
														class="schk">
														Propuesta</span></label></th>
											<th class="col-sm text-center" *ngIf="pensionList.length > 0">
												<label>Comisión
													Pensión</label></th>
											<th class="col-sm text-center ctasa" *ngIf="pensionList.length > 0">
												<label><input type="checkbox" class="checkbox" [disabled]="editFlag == true || canProposeComission == false"
														(change)="primaPropuesta(8)" name="stateBroker"><span
														class="schk">
														Propuesta</span></label></th>
											<th *ngIf="!editFlag"><label>Acción</label></th>
										</tr>
									</thead>
									<tbody>
										<tr class="d-flex" *ngIf="polizaEmitComer.length == 0">
											<td class="col-sm text-center">No hay brokers</td>
										</tr>
										<tr class="d-flex" *ngFor="let comer of polizaEmitComer; let i = index">
											<td class="col-sm text-center"><span>{{comer.DES_DOC_COMER}}</span></td>
											<td class="col-sm text-center"><span>{{comer.DOC_COMER}}</span></td>
											<td class="col-sm text-center"><span>{{comer.COMERCIALIZADOR}}</span></td>
											<td class="col-sm text-center" *ngIf="saludList.length > 0">
												<span>{{comer.COMISION_SALUD_AUT}}</span></td>
											<td class="col-sm" *ngIf="saludList.length > 0"><input type="text"
													class="text-center" name="comissionPRO_SAL-{{i}}"
													[disabled]="stateBrokerTasaSalud" placeholder="0"
													[(ngModel)]="comer.COMISION_SALUD_PRO"
													(ngModelChange)="changeSaludPropuesta($event, comer.DOC_COMER)"
													FloatDirective />
											<td class="col-sm text-center" *ngIf="pensionList.length > 0">
												<span>{{comer.COMISION_PENSION_AUT}}</span></td>
											<td class="col-sm" *ngIf="pensionList.length > 0"><input type="text"
													class="text-center" name="comissionPRO_PEN-{{i}}"
													[disabled]="stateBrokerTasaPension" placeholder="0"
													[(ngModel)]="comer.COMISION_PENSION_PRO"
													(ngModelChange)="changePensionPropuesta($event, comer.DOC_COMER)"
													FloatDirective />
											<td *ngIf="!editFlag"><span style="padding: 0 12px;" *ngIf="comer.BLOCK != 1"><img
														src="assets/icons/anular.png" (click)="deleteBroker(row)"
														title="Eliminar" alt="Eliminar" /></span>
												<span style="padding: 0 12px;" *ngIf="comer.BLOCK == 1">------</span>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>



					</div>
				</div>
				<div class="accordion mt-2">
					<div class="card-header">
						<h5 class="mb-0" data-toggle="collapse" data-target="#poliza" aria-expanded="true"
							aria-controls="poliza">
							Datos de la Póliza
							<i class="fa fa-angle-down pull-right" style="position: relative; top: 4px;"></i>
						</h5>
					</div>
					<div id="poliza" class="collapse show pt-1">
						<div class="row">
							<div class="col-sm-3">
								<span>TIPO RENOVACIÓN</span>
								<select [ngClass]="{'error-validate': flagTipoR}"
									[(ngModel)]="polizaEmitCab.tipoRenovacion" name="tipoRenovacion"
									[disabled]="editFlag" (change)="habilitarFechas()" class="minimal">
									<option *ngFor="let renovacion of tipoRenovacion"
										[value]="renovacion.COD_TIPO_RENOVACION">{{renovacion.DES_TIPO_RENOVACION}}
									</option>
								</select>
							</div>
							<div class="col-sm-3">
								<span>DESDE</span>
								<input type="text" [ngClass]="{'error-validate': !flagFechaMenorMayor}"
									#dp="bsDatepicker" (ngModelChange)="validarTipoRenovacion($event)"
									[bsConfig]="bsConfig" bsDatepicker [(bsValue)]="polizaEmitCab.bsValueIni"
									[(ngModel)]="polizaEmitCab.bsValueIni" name="bsValueIni"
									[(minDate)]="polizaEmitCab.bsValueIniMin" [(maxDate)]="polizaEmitCab.bsValueFinMax"
									value="{{ polizaEmitCab.bsValueIni | date:'dd/MM/yyyy' }}"
									[disabled]="disabledFecha" readonly #desde>
							</div>
							<div class="col-sm-3">
								<span>HASTA</span>
								<input type="text" [ngClass]="{'error-validate': !flagFechaMenorMayorFin}"
									[bsConfig]="bsConfig" #dp="bsDatepicker" bsDatepicker
									[(bsValue)]="polizaEmitCab.bsValueFin" [(ngModel)]="polizaEmitCab.bsValueFin"
									name="bsValueFin" [(minDate)]="polizaEmitCab.bsValueFinMin"
									value="{{ polizaEmitCab.bsValueFin  | date:'dd/MM/yyyy' }}" #hasta
									[disabled]="disabledFechaFin" readonly>
							</div>

						</div>
						<div class="row">
							<div class="col-sm-3">
								<span>FRECUENCIA PAGO</span>
								<select [ngClass]="{'error-validate': errorFrecPago}" [disabled]="editFlag"
									[(ngModel)]="polizaEmitCab.frecuenciaPago" name="frecuenciaPago"
									(change)="cambioFecha()" class="minimal">
									<option value="0">SELECCIONE</option>
									<option *ngFor="let frecuencia of frecuenciaPago"
										[value]="frecuencia.COD_TIPO_FRECUENCIA">{{frecuencia.DES_TIPO_FRECUENCIA}}
									</option>

								</select>
							</div>
							<div *ngIf="canBillMonthly || canBillInAdvance" class="col-sm-3">
								<span style="margin: 0;">&nbsp;</span>
								<label *ngIf="canBillMonthly" style="width: 100%;margin-bottom: 0;"><input
										type="checkbox" [(ngModel)]="polizaEmit.facturacionVencido"
										name="facturacionVencido" (ngModelChange)="onFacturacion()" class="checkbox"
										[disabled]="facVencido"><span class="schk"
										style="margin-top: 15px; font-size: 13px;">REGULA A MES
										VENCIDO</span></label>

								<label *ngIf="canBillInAdvance" style="width: 100%;margin-bottom: 0;"><input
										type="checkbox" [(ngModel)]="polizaEmit.facturacionAnticipada"
										name="facturacionAnticipada" (ngModelChange)="onFacturacion()" class="checkbox"
										[disabled]="facAnticipada"><span class="schk"
										style="margin-top: 5px; font-size: 13px;">FACTURACIÓN
										ANTICIPADA</span></label>
							</div>
							<div class="col-sm-3">
								<span>MONEDA</span>
								<select disabled [(ngModel)]="polizaEmitCab.COD_MONEDA" name="COD_MONEDA"
									[disabled]="mode!=='emit'" class="minimal">
									<option [value]="polizaEmitCab.COD_MONEDA" disabled selected>
										{{polizaEmitCab.DES_MONEDA}}</option>
								</select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<span>SEDE</span>
								<select disabled [(ngModel)]="polizaEmitCab.COD_TIPO_SEDE" name="COD_TIPO_SEDE"
									class="minimal">
									<option [value]="polizaEmitCab.COD_TIPO_SEDE">{{polizaEmitCab.DES_TIPO_SEDE}}
									</option>

								</select>
							</div>
							<div class="col-sm-3">
								<span>ACTIVIDAD A REALIZAR</span>
								<select disabled [(ngModel)]="polizaEmitCab.ACT_TECNICA" name="ACT_TECNICA"
									class="minimal">
									<option disabled value="" selected>Seleccionar</option>
									<option [value]="polizaEmitCab.ACT_TECNICA">
										{{polizaEmitCab.DES_ACT_TECNICA}}</option>
								</select>
							</div>
							<div class="col-sm-4">
								<span>ACTIVIDAD ECONÓMICA</span>
								<select disabled [(ngModel)]="polizaEmitCab.COD_ACT_ECONOMICA" name="COD_ACT_ECONOMICA"
									class="minimal">
									<option [value]="polizaEmitCab.COD_ACT_ECONOMICA">
										{{polizaEmitCab.DES_ACT_ECONOMICA}}</option>
								</select>
							</div>
							<div class="col-sm-2">
								<span>&nbsp;</span>
								<!-- <label style="width: 100%;margin-bottom: 0;"><input type="checkbox"
										[(ngModel)]="polizaEmitCab.DELIMITACION" name="DELIMITACION"
										[checked]="polizaEmitCab.DELIMITACION" class="checkbox" disabled><span
										class="schk"
										style="margin-top: 10px; font-size: 13px;">Delimitación</span></label> -->
								<label style="width: 100%;margin-bottom: 0;"><span
										style="margin-top: 5px; font-size: 13px; color: red; text-transform: initial;">{{polizaEmitCab.DELIMITACION}}</span></label>
								<label style="width: 100%;margin-bottom: 0;"><input type="checkbox"
										[(ngModel)]="polizaEmitCab.MINA" name="MINA" [checked]="polizaEmitCab.MINA"
										class="checkbox" disabled><span class="schk"
										style="margin-top: 5px; font-size: 13px;">¿Se
										realiza en mina?</span></label>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-3">
								<span>DEPARTAMENTO (*)</span>
								<select disabled [(ngModel)]="polizaEmitCab.COD_DEPARTAMENTO" name="COD_DEPARTAMENTO"
									class="minimal">
									<option [value]="polizaEmitCab.COD_DEPARTAMENTO">
										{{polizaEmitCab.DES_DEPARTAMENTO}}</option>

								</select>
							</div>
							<div class="col-sm-3">
								<span>PROVINCIA (*)</span>
								<select disabled [(ngModel)]="polizaEmitCab.COD_PROVINCIA" name="COD_PROVINCIA"
									class="minimal">
									<option [value]="polizaEmitCab.COD_PROVINCIA">{{polizaEmitCab.DES_PROVINCIA}}
									</option>

								</select>
							</div>
							<div class="col-sm-3">
								<span>DISTRITO (*)</span>
								<select disabled [(ngModel)]="polizaEmitCab.COD_DISTRITO" name="COD_DISTRITO"
									class="minimal">
									<option [value]="polizaEmitCab.COD_DISTRITO">{{polizaEmitCab.DES_DISTRITO}}
									</option>

								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion mt-2" *ngIf="mode != 'cancel' && mode != 'endosar'">
					<div class="card-header">
						<h5 class="mb-0" data-toggle="collapse" data-target="#planilla" aria-expanded="true"
							aria-controls="planilla">
							Carga de Planilla
							<i class="fa fa-angle-down pull-right" style="position: relative; top: 4px;"></i>
						</h5>
					</div>
					<div id="planilla" class="collapse show pt-1" style="padding: 10px 0 0 0;">
						<div class="row">
							<div class="col-sm-6">
								<input [ngClass]="{'error-validate': errorExcel}" type="file" class="mt-10"
									(change)="seleccionExcel($event.target.files[0])"
									accept="application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
									style="position: relative; top: 8px; margin: 10px 20px;">
							</div>
							<div class="col-sm-6" style="padding: 10px 0 15px;">
								<button type="button" style="display: inline-block;" (click)="validarExcel()"
									data-toggle="modal" data-target="#exampleModal"><span>Validar</span></button>
							</div>
						</div>
					</div>
				</div>
				<div class="accordion mt-2">
					<div class="card-header">
						<h5 class="mb-0" data-toggle="collapse" data-target="#cotizador" aria-expanded="true"
							aria-controls="cotizador">
							Cotizador
							<i class="fa fa-angle-down pull-right" style="position: relative; top: 4px;"></i>
						</h5>
					</div>
					<div id="cotizador" class="collapse show pt-1">
						<!-- <div class="row" *ngIf="!endosoFlag">
							<div class="col-sm-12">
								<label><span>TRABAJADORES:</span></label>
								<label><span><input type="radio" [(ngModel)]="polizaEmit.workers" name="searchWorker"
											value="1" (change)="onSelectWorker()" class="t-search" /> MENOR O IGUAL
										50</span> </label> <label>
									<span><input type="radio" [(ngModel)]="polizaEmit.workers" name="searchWorker"
											value="2" (change)="onSelectWorker()" class="t-search" /> MAYOR A
										50</span></label>
							</div>
						</div> -->
						<div class="row" [hidden]="stateTransac">
							<div class="col-sm-6">
								<table class="table table-borderless riesgo" style="margin: 15px 0;">
									<thead>
										<tr class="d-flex" style="border-bottom: 1px solid #ddd;">
											<th class="col-sm"><label style="font-weight: 100;">Categoría</label></th>
											<th class="col-sm text-center"><label style="font-weight: 100;">Total
													Trabajadores</label></th>
											<th class="col-sm text-center"><label style="font-weight: 100;">Monto
													Planilla</label>
											</th>
										</tr>
									</thead>
									<tbody>
										<tr class="d-flex" *ngIf="tasasList.length == 0">
											<td class="col-sm text-center">No hay tasas</td>
										</tr>
										<tr class="d-flex" *ngFor="let item of tasasList; let i = index">
											<td class="col-sm"><span>{{item.DES_RIESGO}}</span>
											</td>
											<td class="col-sm text-center">
												<input type="text" placeholder="0" [(ngModel)]="item.NUM_TRABAJADORES"
													name="NRO_TRAB-{{i}}" [disabled]="true"
													(ngModelChange)="changeTrabajadores($event, item.TIP_RIESGO)"
													(keypress)="valText($event, 1)" />
											</td>
											<td class="col-sm text-center">
												<input type="text" placeholder="0" [(ngModel)]="item.MONTO_PLANILLA"
													name="MON_PLAN-{{i}}" [disabled]="true"
													(ngModelChange)="changePlanilla($event, item.TIP_RIESGO)"
													FloatDirective />
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="row" [hidden]="stateTransac">
							<div class="col-sm-12" *ngIf="stateWorker">
								<p class="msg-error">{{messageWorker}}</p>
							</div>
						</div>
						<div class="row" [hidden]="stateTransac">
							<div class="col-sm-6" *ngIf="saludList.length > 0">
								<div class="row">
									<div class="col-sm-6">
										<span>PRIMA MÍNIMA SALUD</span>
										<input type="text" [(ngModel)]="polizaEmitCab.PRIMA_SALUD_END" name="MIN_SALUD"
											placeholder="0" disabled>
									</div>
									<div class="col-sm-6">
										<label style="margin: 0;"><span class="schk"><input type="checkbox"
													style="top: 3px;" class="checkbox" (change)="primaPropuesta(3)"
													[disabled]="editFlag == true || canProposeComission == false">
												PRIMA MÍNIMA PROPUESTA</span></label>
										<input type="text" placeholder="0" [disabled]="statePrimaSalud"
											(ngModelChange)="changePrimaPropuesta($event, saludID)" name="MIN_SALUD_PR"
											[(ngModel)]="polizaEmitCab.MIN_SALUD_PR" FloatDirective />
									</div>
								</div>
								<div class="card mt-3">
									<div class="card-body">
										<div class="row">
											<div class="col-sm">
												<h5>SCTR SALUD</h5>
											</div>
										</div>
										<div class="row">
											<table class="table table-borderless riesgo tblTasas">
												<thead>
													<tr class="d-flex">
														<th class="col-sm text-center"><label>Categoría</label></th>
														<th class="col-sm text-center"><label>Tasa</label></th>
														<th class="col-sm text-center"><label>Propuesta</label></th>
														<th class="col-sm text-center"><label>Prima Mensual</label></th>
													</tr>
												</thead>
												<tbody>
													<tr class="d-flex" *ngIf="saludList.length == 0">
														<td class="col-sm text-center">No hay tasas asociadas</td>
													</tr>
													<tr class="d-flex" *ngFor="let item of saludList; let i = index">
														<td class="col-sm text-center"><span>{{item.DES_RIESGO}}</span>
														</td>
														<td class="col-sm text-center"><span>{{item.TASA}} %</span>
														</td>
														<td class="col-sm"><input type="text" class="text-center"
																placeholder="0" name="tasaPRO_SAL-{{i}}"
																[(ngModel)]="item.TASA_PRO"
																(ngModelChange)="changeTasaPropuestaSalud($event, item.DES_RIESGO)"
																[disabled]="disabledFlat[i].value" FloatDirective />
														</td>
														<td class="col-sm text-center">
															<span>{{item.AUT_PRIMA | miles}}</span></td>
													</tr>
													<hr style="margin-bottom: 0;" *ngIf="saludList.length > 0">
													<tr class="d-flex" *ngIf="saludList.length > 0">
														<td class="col-sm text-center"></td>
														<td class="col-sm text-center"></td>
														<td class="col-sm text-right"><span>Prima Total Neta</span></td>
														<td class="col-sm text-center">
															<span>{{totalNetoSaludSave | miles}}</span></td>
													</tr>
													<tr class="d-flex" *ngIf="saludList.length > 0">
														<td class="col-sm text-center"></td>
														<td class="col-sm text-center"></td>
														<td class="col-sm text-right"><span>IGV + GASTOS</span></td>
														<td class="col-sm text-center">
															<span>{{igvSaludSave | miles}}</span>
														</td>
													</tr>
													<tr class="d-flex" *ngIf="saludList.length > 0">
														<td class="col-sm text-center"></td>
														<td class="col-sm text-center"></td>
														<td class="col-sm text-right"><span>Prima Bruta Total</span>
														</td>
														<td class="col-sm text-center">
															<span>{{brutaTotalSaludSave | miles}}</span></td>
													</tr>
												</tbody>
											</table>
											<div class="col-sm-12">
												<p class="msg-error">{{mensajePrimaSalud}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-6" *ngIf="pensionList.length > 0">
								<div class="row">
									<div class="col-sm-6">
										<span>PRIMA MÍNIMA PENSIÓN</span>
										<input type="text" [(ngModel)]="polizaEmitCab.PRIMA_PEN_END" name="MIN_PENSION"
											placeholder="Prima Mínima" disabled>
									</div>
									<div class="col-sm-6">
										<label style="margin: 0;"><span class="schk"><input type="checkbox"
													style="top: 3px;" class="checkbox" (change)="primaPropuesta(4)"
													[disabled]="editFlag == true || canProposeComission == false">
												PRIMA MÍNIMA PROPUESTA</span></label>
										<input type="text" placeholder="0" style="margin-top: 2px !important;"
											[disabled]="statePrimaPension"
											(ngModelChange)="changePrimaPropuesta($event, pensionID)"
											name="MIN_PENSION_PR" [(ngModel)]="polizaEmitCab.MIN_PENSION_PR"
											FloatDirective />
									</div>
								</div>
								<div class="card mt-3">
									<div class="card-body">
										<div class="row">
											<div class="col-sm">
												<h5>SCTR PENSIÓN</h5>
											</div>
										</div>
										<div class="row">
											<table class="table table-borderless riesgo tblTasas">
												<thead>
													<tr class="d-flex">
														<!-- <th class="col-sm text-center"><label>Categoría</label></th>
														<th class="col-sm text-center"><label>Tasa Calculada</label>
														</th>
														<th class="col-sm text-center ctasa"><label><input
																	type="checkbox" class="checkbox"
																	(change)="primaPropuesta(6)"
																	[disabled]="editFlag"><span class="schk">
																	Propuesta</span></label>
														</th>
														<th class="col-sm text-center"><label>Prima Mensual</label></th> -->
														<th class="col-sm text-center"><label>Categoría</label></th>
														<th class="col-sm text-center"><label>Tasa</label></th>
														<th class="col-sm text-center"><label>Propuesta</label></th>
														<th class="col-sm text-center"><label>Prima Mensual</label></th>
													</tr>
												</thead>
												<tbody>
													<tr class="d-flex" *ngIf="pensionList.length == 0">
														<td class="col-sm text-center">No hay tasas asociadas</td>
													</tr>
													<tr class="d-flex" *ngFor="let item of pensionList; let i = index">
														<td class="col-sm text-center"><span>{{item.DES_RIESGO}}</span>
														</td>
														<td class="col-sm text-center"><span>{{item.TASA}} %</span>
														</td>
														<td class="col-sm"><input type="text" class="text-center"
																placeholder="0" name="tasaPRO_PEN-{{i}}"
																[(ngModel)]="item.TASA_PRO"
																(ngModelChange)="changeTasaPropuestaPension($event, item.DES_RIESGO)"
																[disabled]="disabledFlat[i].value" FloatDirective />
														</td>
														<td class="col-sm text-center">
															<span>{{item.AUT_PRIMA | miles}}</span></td>
													</tr>
													<hr style="margin-bottom: 0;" *ngIf="pensionList.length > 0">
													<tr class="d-flex" *ngIf="pensionList.length > 0">
														<td class="col-sm text-center"></td>
														<td class="col-sm text-center"></td>
														<td class="col-sm text-right"><span>Prima Total Neta</span></td>
														<td class="col-sm text-center">
															<span>{{totalNetoPensionSave | miles}}</span></td>
													</tr>
													<tr class="d-flex" *ngIf="pensionList.length > 0">
														<td class="col-sm text-center"></td>
														<td class="col-sm text-center"></td>
														<td class="col-sm text-right"><span>IGV + GASTOS</span></td>
														<td class="col-sm text-center">
															<span>{{igvPensionSave | miles}}</span>
														</td>
													</tr>
													<tr class="d-flex" *ngIf="pensionList.length > 0">
														<td class="col-sm text-center"></td>
														<td class="col-sm text-center"></td>
														<td class="col-sm text-right"><span>Prima Bruta Total</span>
														</td>
														<td class="col-sm text-center">
															<span>{{brutaTotalPensionSave | miles}}</span></td>
												</tbody>
											</table>
											<div class="col-sm-12">
												<p class="msg-error">{{mensajePrimaPension}}</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row" *ngIf="mode == 'cancel'">
							<div class="col-sm-6">
								<span>MOTIVO DE ANULACIÓN</span>
								<ng-select [items]="annulmentList" bindLabel="DES_ANULACION" bindValue="COD_ANULACION"
									[(ngModel)]="annulmentID" class="border-ng" [clearable]="true"
									placeholder="Seleccionar" dropdownPosition="bottom" name="annulment"
									notFoundText="No hay resultados">
								</ng-select>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12">
								<span>COMENTARIO</span>
								<textarea cols="40" rows="5" style="width:100%" [(ngModel)]="polizaEmit.comentario"
									name="comentario"></textarea>
							</div>
						</div>
						<div>
							<div class="inline-block">
								<div class="inline-block">
									<button type="button" (click)="fileInput.click()" style="margin: 10px 0;">
										<span>Seleccionar Archivo</span></button>
									<input hidden #fileInput ngfSelect multiple type="file" [(files)]="files"
										[accept]="accept" [maxSize]="maxSize" [(lastInvalids)]="lastInvalids"
										(filesChange)="seleccionArchivos()" />
								</div>
							</div>
							<div>
							</div>
							<div *ngIf="files.length > 0">
								<div style="margin-bottom: 0px">
									<h6>Archivos Seleccionados ({{ files.length }})</h6>
									<table class="table">
										<thead>
											<tr>
												<th>Nombre</th>
												<!-- <th>Tipo</th> -->
												<th class="text-center">Tamaño</th>
												<th class="text-center">Acción</th>
											</tr>
										</thead>
										<tbody>
											<tr *ngFor="let item of files;let i=index">
												<td>
													<strong>{{ item.name }}</strong>
												</td>
												<!-- <td>
													{{ item.type }}
												</td> -->
												<td class="text-center">
													{{ item.size/1024/1024 | number:'.2' }} MB
												</td>
												<td class="text-center"><img src="assets/icons/anular.png"
														(click)="files.splice(i,1)" title="Eliminar" alt="Eliminar" />
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
				<br>
				<div class="row">
					<div class="col-sm-12">
						<div style="display: flex; float:right">
							<button type="button"
								routerLink="/broker/policy-transactions"><span>CANCELAR</span></button>
							<button type="submit" class="full-color"><span>PROCESAR</span></button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<!-- Pantalla de carga -->
<div [hidden]="loading == false" class="loadingScreen">
	<div style="display:flex;height: 100%;width:100%">
		<i style="margin:auto;font-size: 50px" class="fa fa-spinner fa-spin"></i>
	</div>
</div>