<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">Validación de trama</h4>
</div>
<div class="modal-body">
  <div class="modal-body">
    <table class="table">
      <thead>
        <tr>
          <th><span>Descripción</span></th>
          <th><span>Descargar</span></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><span>Se han encontrado los siguientes errores</span></td>
          <td> <button class="full-color" src="assets/icons/descargar.png" (click)="GenerarReporte()"><span>Descargar
                Errores</span></button></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- <div class="modal-footer">
    <button class="" (click)="reference.dismiss()"><span>Cerrar</span></button>
  </div> -->
</div>