.row-title-principal {
	margin: 0px !important;
	padding: 0px !important;
}

.title-princial {
	height: auto;
	width: 100%;
	color: #2b0d61;
	font-family: "Bliss Pro";
	font-size: 36px;
	font-weight: 800;
	line-height: 35px;
	text-align: center;
	/* padding: 12px 226px; */
	padding-top: 48px;
}

.text-descripcion {
	height: auto;
	width: 100%;
	color: #553d81;
	font-family: "Bliss Pro";
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
	margin-top: 16px;
}

.text-descripcion p {
	height: 48px;
	width: 662px;
	color: #553d81;
	font-family: "Bliss Pro";
	font-size: 18px;
	font-weight: 500;
	line-height: 24px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: -7px;
}

.rectangle {
	margin-top: 14px;
	width: 100%;
	border: 1px solid #d5cfdf;
	border-radius: 6px;
	background-color: #ffffff;
}

.title-rectangle {
	min-height: 40px;
	width: 100%;
	color: #2b0d61;
	font-family: "Bliss Pro";
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	padding: 2px 12px;
}

.cabera {
	text-align: center;
	margin-bottom: 13px;
	margin-top: 16px;
}

.content-rectagle {
	width: 100%;
	min-height: 124px;
	margin-top: 25px;
	text-align: center;
}

.rectangle-copy-left,
.rectangle-copy-rigth {
	height: 124px;
	border: 1px solid #aa9ec0;
	border-radius: 6px;
	background-color: #ffffff;
	display: inline-grid;
	display: -ms-inline-grid;
	width: 32% !important;
	padding-top: 22px;
	padding-bottom: 22px;
	margin-left: 0px;
}

.rectangle-footer {
	width: 100%;
	padding: 0px 50px 15px;
}

.rectangle-copy-parrafo-ini {
	color: #553d81;
	font-family: "Bliss Pro";
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	text-align: center;
}

.rectangle-copy-parrafo-ie {
	color: #553d81;
	font-family: "Bliss Pro";
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	text-align: center;
	margin-top: 57px;
}

.rectangle-copy-parrafo {
	color: #553d81;
	font-family: "Bliss Pro";
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	text-align: center;
	margin-top: 57px;
	display: contents;
}

.rectangle-copy-parrafo-pa {
	color: #48903b;
	font-family: "Bliss Pro";
	font-size: 12px;
	font-weight: bold;
	line-height: 12px;
	text-align: center;
	margin-top: 57px;
	display: contents;
}

.rectangle-copy-numero {
	color: #553d81;
	font-family: "Bliss Pro";
	font-size: 55px;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
	margin-bottom: 10px;
}

.rectangle-copy-numero-pa {
	color: #48903b;
	font-family: "Bliss Pro";
	font-size: 55px;
	font-weight: bold;
	line-height: 36px;
	text-align: center;
	margin-bottom: 5px;
	margin-bottom: 10px;
}

.btn-compra {
	height: 46px;
	width: 100%;
	padding-left: 30px !important;
	padding-right: 30px !important;
	border-radius: 6px;
	background-color: #ed6e00;
	color: #ffffff;
	font-family: "Bliss Pro";
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;
	text-align: center;
}
.btn-compra  :hover{
	background-color:  #ffffff;
	color:#ed6e00
}
.btn-historial {
	height: 46px;
	width: 204px;
	border-radius: 6px;
	background-color: #ed6e00;
	color: #ffffff;
	font-family: "Bliss Pro";
	font-size: 16px;
	font-weight: bold;
	line-height: 19px;
	text-align: center;
}

.rectangle-footer-parrafo {
	margin-top: 9px;
	height: 16px;
	color: #806ea0;
	font-family: "Bliss Pro";
	font-size: 14px;
	font-weight: bold;
	line-height: 16px;
	text-align: center;
}

.container-historial-venta {
	width: 100%;
	border: 1px solid #d5cfdf;
	border-radius: 6px;
	background-color: #ffffff;
	padding-top: 29px;
	padding-bottom: 47px;
}

.header-historial-venta {
	text-align: center;
}

.contenido-historial-venta {
	min-height: 50px;
	color: #2b0d61;
	font-family: "Bliss Pro";
	font-size: 20px;
	font-weight: bold;
	line-height: 20px;
	text-align: center;
	margin-top: 14px;
}

.footer-historial-venta {
	text-align: center;
	padding: 2px 30%;
}

@media only screen and (max-width: 576px) {
	.title-princial {
		font-size: 14px;
		display: inline;
		padding: 0px 0px;
		text-align: center;
		text-align: justify;
	}
	.text-descripcion {
		font-size: 14px;
		display: inline;
		padding: 0px 0px;
		text-align: justify;
	}
	.footer-historial-venta {
		padding: 0px 30px;
	}
	.btn-historial {
		height: 46px;
		width: 100%;
		border-radius: 6px;
		background-color: #ed6e00;
		color: #ffffff;
		font-family: "Bliss Pro";
		font-size: 16px;
		font-weight: bold;
		line-height: 19px;
		text-align: center;
	}
}

@media only screen and (max-width: 768px) {
	.title-princial {
		font-size: 20px;
		display: inline;
		padding: 0px 0px;
		text-align: center;
		text-align: justify;
	}
	.text-descripcion {
		font-size: 14px;
		padding: 0px 0px;
		text-align: justify;
		width: 50%;
	}
	.footer-historial-venta {
		padding: 0px 30px;
	}
}

@media only screen and (max-width: 992px) {
	.title-princial {
		font-size: 28px;
		padding: 0px 0px;
		text-align: center;
		text-align: justify;
	}
	.text-descripcion {
		font-size: 15px;
		padding: 0px 0px;
		text-align: justify;
        margin-top: 16px;
	}
	.footer-historial-venta {
		padding: 0px 30px;
	}
}

.img-help {
	margin-bottom: 3px !important;
	margin-left: 3px !important;
}

.fila {
	padding: 5px;
}

select {
	width: 100%;
	border: none;
	display: block;
	padding: 8px 5px;
	border: 1px solid rgb(146, 138, 163);
	border-radius: 2px;
	margin-top: 5px;
	color: rgb(146, 138, 163);
	font-family: "Bliss Pro";
	font-size: 14px;
	height: 45px;
	padding-left: 12px;
	font-weight: 300;
	color: #aa9ec0;
	border: 1px solid #aa9ec0;
}
