<div class="container-bottom">
  <div class="form-group row row01">
    <div class="col-sm-12 col-lg-1"></div>
    <div class="col-sm-12 col-lg-2  col01">
      <img alt="" src="assets/logos/logo_protecta_security_footer.svg" />
      <p>
        Somos una compañía de seguros de vida y reaseguros, formamos parte de
        dos grandes grupos econ&oacute;micos con una s&oacute;lida presencia en
        Latinoam&eacute;rica: Grupo Security y Grupo ACP
        <br />
        <br />
        Web:
        <a href="http://protectasecurity.pe/" target="_new"
          >www.protectasecurity.pe</a
        >
        <br class="no-mobile" />
        <br class="no-mobile" />
      </p>
    </div>
    <div class="col-sm-12 col-lg-2 col02">
      <h5>Contacto para <br class="no-mobile" />clientes</h5>
      <p>
        Central de Servicio al Cliente
        <br />
        (51-1) 391-3000 (Lima) <br />
        0801-1-1278 (Provincias) <br />
        Correo: clientes@protectasecurity.pe
      </p>
      <h5>Atenci&oacute;n Presencial</h5>
      <p class="minus">
        Av. Domingo Oru&eacute; 165
        <br />Piso 8 - Surquillo
      </p>
    </div>
    <div class="col-sm-12 col-lg-2 col02">
      <h5>Contacto para <br class="no-mobile" />socios de negocio</h5>
      <p class="minus">
        L&iacute;nea telef&oacute;nica:
        <br />
        01-391-3005
        <!-- <br> Opcion #1: Soporte para plataforma digital SOAT
        <br> Opcion #2: Realizar consultas o solicitudes-->
        <br />
        Email: <br />
        <a class="link-corp" href="mailto:canalcorporativo@protectasecurity.pe"
          >canalcorporativo@protectasecurity.pe</a
        >
      </p>
    </div>
    <div class="col-sm-12 col-lg-2 col03">
      <h5>Regulada y<br class="no-mobile" />Supervisada por:</h5>
      <img alt="" src="assets/logos/sbs_logo.svg" width="196" height="54" />
      <h5>Condicionado</h5>
      <a href="assets/pdfs/condicionado-soat.pdf" target="_new"
        >Descargar Archivo</a
      >
    </div>
    <div class="col-sm-12 col-lg-2 col04">
      <div class="my-body">
        <h5>S&iacute;guenos en <br class="no-mobile" />nuestra redes</h5>
        <a class="social" href="https://www.facebook.com/ProtectaSecurity/">
          <img alt="" src="assets/icons/facebook.svg" alt="Facebook Protecta" />
        </a>
        <a
          class="social"
          href="https://www.youtube.com/channel/UCLDUNm7ULAC4jbie_7S8beQ"
        >
          <img alt="" src="assets/icons/youtube.svg" alt="YouTube Protecta" />
        </a>
        <br />
        <br />
        <div class="pagina_segura">
          <img
            src="assets/icons/pagina_segura.svg"
            alt="Pagina Segura"
          />&nbsp;&nbsp;
          <h6>
            Esta p&aacute;gina es <br class="no-mobile" />totalmente segura
          </h6>
        </div>
        <div class="certificado">
          <span
            >Este certificado garantiza la seguridad <br class="no-mobile" />de
            todas tus conexiones mediante <br class="no-mobile" />cifrado.</span
          >
        </div>
      </div>
      <hr class="separator" />
    </div>
    <div class="col-sm-12 col-lg-1"></div>
  </div>
  <div class="row02">
    <p>Copyrigth 2019 &copy; Protecta Security</p>
    <div class="logos">
      <img alt="" src="assets/icons/logo_neo.svg" alt="" />
    </div>
    <div class="col-sm-12 col-lg-1"></div>
  </div>
</div>
