<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">ARCHIVOS DE MOVIMIENTO</h4>
  <button type="button" class="close" aria-label="Close" (click)="ngbModalRef.close()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <!-- <div class="filter">
    <div class="card">
      <div class="card-body" [formGroup]="mainFormGroup">

      </div>
    </div>
  </div> -->
  <div class="card">
    <div class="grid form-group">
      <div class="row">
        <div class="col-sm-5">
          <h5>Archivos</h5>
        </div>
      </div>
      <div class="table-responsive">
        <table class="table table-borderless riesgo tblbroker">
          <thead>
            <tr>
              <th class="col-sm"><label>Nombre del archivo</label></th>
              <th class="col-sm"><label>Descargar</label></th>
            </tr>
          </thead>
          <ng-container *ngIf="fileList!=null && fileList.length>0; then showContent;else hideContent"></ng-container>
          <ng-template #showContent>
            <tbody *ngFor="let item of fileList; let row_no = index">
              <tr>
                <td class="col-sm"><span style="margin-top: 5px;">{{item | fileName}}</span></td>
                <td class="col-sm" style="text-align: center;"><a (click)="downloadFile(item)"><img
                      src="assets/icons/imprimir.png" title="Descargar" style="cursor:pointer;" alt="Descargar" /></a>
                </td>
              </tr>
            </tbody>
          </ng-template>
          <ng-template #hideContent>
            <tbody>
              <tr>
                <td colspan="2">No se encontraron registros.</td>
              </tr>
            </tbody>
          </ng-template>
        </table>
      </div>

    </div>
    <!-- <div *ngIf="fileList!=null && fileList.length>0" class="row">
      <div class="col-sm-12">
        <ngb-pagination [(page)]="currentPage" [pageSize]="itemsPerPage" [collectionSize]="totalItems"
          (pageChange)="pageChanged(currentPage)">
          <ng-template ngbPaginationPrevious>Anterior</ng-template>
          <ng-template ngbPaginationNext>Siguiente</ng-template>
        </ngb-pagination>
      </div>
    </div> -->
  </div>


</div>

<div class="modal-footer">
  <button (click)="ngbModalRef.close()"><span>Volver</span></button>
</div>