<div class="modal-header">
  <h4 class="modal-title" id="modal-basic-title">{{txtAccion}}</h4>
  <input type="button" class="close" aria-label="Close" (click)="reference.dismiss('Cross click')" value="&times;" />

</div>
<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6">
        <span>TIPO DE CORREO ELECTRÓNICO (*)</span>
        <select (change)="onSelectEmailType($event)" [(ngModel)]="InputsEmail.P_SRECTYPE" [ngClass]="{'error-validate': VAL_EMAIL[0] != ''}" (click)="Clear(0)" >
          <option value="0" selected>Seleccionar</option>
          <option *ngFor="let emailType of emailTypeList" value="{{emailType.SRECTYPE}}">{{emailType.SDESCRIPT}}</option>
        </select>
      </div>
      <div class="col-sm-6">
        <span>CORREO ELECTRÓNICO (*)</span>
        <input type="text" [(ngModel)]="InputsEmail.P_SE_MAIL" maxlength="60" [ngClass]="{'error-validate': VAL_EMAIL[1] != ''}" (click)="Clear(1)" (keypress)="valText($event, 6)" />
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="full-color" (click)="EventSave()"><span>{{txtAccion}}</span></button>
</div>