.container {
  float: left;
  width: 75%;
  padding: 10px 30px;
}

::placeholder {
  color: rgb(146, 138, 163);
}

.filter {
  width: 100%;
  margin: 10px auto;
  border-bottom: 1px solid rgb(84, 61, 129);
  padding: 10px 0 15px 0;
}

.filter .filter-row {
  width: 100%;
  display: flex;
}

.filter .filter-row .filter-row-cell {
  padding: 8px 5px;
}

.filter .filter-row .filter-row-cell span {
  width: 100%;
  color: #2b0d61;
  display: block;
  font-size: 14px;
  font-weight: 300;
  height: 24px;
  line-height: 24px;
}

.filter .filter-row .filter-row-cell input[type="text"] {
  /* outline: auto; */
  border: none;
  border-radius: 2px;
  padding: 7px 5px;
  margin-top: 5px;
  border: 1px solid rgb(146, 138, 163);
  color: rgb(146, 138, 163);
  font-size: 14px;
  width: 100%;
  border: 1px solid #aa9ec0;
  color: #aa9ec0;
  height: 45px;
  font-weight: 300;
  padding-left: 12px;
}

.filter .filter-row .filter-row-cell input[type="date"] {
  /* outline: auto; */
  border: none;
  border-radius: 2px;
  padding: 6px 5px;
  margin-top: 5px;
  border: 1px solid rgb(146, 138, 163);
  color: rgb(146, 138, 163);
  width: 100%;
  /* margin-left: 5px; */
  font-size: 14px;
  border: 1px solid #aa9ec0;
  color: #aa9ec0;
  height: 45px;
  font-weight: 300;
  padding-left: 12px;
}

select {
  width: 100%;
  border: none;
  display: block;
  padding: 8px 5px;
  border: 1px solid rgb(146, 138, 163);
  border-radius: 2px;
  margin-top: 5px;
  color: rgb(146, 138, 163);
  /* outline: auto; */
  /* margin-left: 3px; */
  font-family: "Bliss Pro";
  font-size: 14px;
  height: 45px;
  padding-left: 12px;
  font-weight: 300;
  color: #aa9ec0;
  border: 1px solid #aa9ec0;
}

.grid {
  width: 95%;
  margin: 20px auto;
  font-size: 14px;
  font-weight: 300;
}

.grid table {
  width: 100%;
  border-collapse: collapse;
}

.grid table tr td {
  padding: 15px 15px;
  text-align: center;
  color: rgb(146, 138, 163);
}

.grid table .grid-title td {
  font-family: "Bliss Pro";
  padding: 25px 15px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: rgba(42, 18, 99, 0.78);
}

.grid table tr td button {
  border: none;
  display: block;
  padding: 7px 9px;
  border-radius: 2px;
  background: rgb(169, 157, 192);
  color: #fff;
  margin: 0 2px;
  /* outline: none; */
  height: 30px;
  width: 25px;
  font-family: "Bliss Pro";
}

.grid table tr .flex {
  display: flex;
  justify-content: center;
}

.header-content {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid rgb(109, 99, 129);
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
}

.header-content .containt-item {
  display: flex;
  justify-content: space-between;
}

.header-content .header-item {
  display: block;
  padding: 5px 0;
}

.header-content .header-item .title {
  color: #553d81;
  font-size: 32px;
  font-weight: bold;
  line-height: 31px;
  display: block;
  margin-top: 8px;
  margin-right: 18px;
}

.header-content .header-item button {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(129, 118, 157);
  border-radius: 2px;
  margin: 0 5px;
  background: #fff;
  padding: 8px 5px;
  min-width: 170px;
  height: 45px;
  /* outline: none; */
}

.header-content .header-item button:hover {
  cursor: pointer;
}

.header-content .header-item button span {
  display: block;
  margin-left: 10px;
  font-weight: 600;
  color: rgb(83, 66, 121);
}

.header-content .header-item .purple {
  background: #553d81;
}

.header-content .header-item .purple span {
  color: #fff;
}

.header-content .rigth-item {
  float: right;
}

.header-content .rigth-item {
  float: right;
}

.rigth-item button img {
  display: table-cell;
  margin-top: auto;
  margin-bottom: auto;
}

.full-color {
  background: #553d81 !important;
}

.full-color span {
  color: #fff !important;
}

.header-content .header-item .full-color button {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(129, 118, 157);
  border-radius: 2px;
  margin: 0 5px;
  background: #553d81;
  color: #fff;
  padding: 8px 5px;
  min-width: 177px;
  height: 45px;
  outline: none;
}

/*
  .header-content .header-item .full-color span{
    color: #fff;
  }*/

.input-date {
  height: 45px;
  width: fit-content;
  display: inline-block;
  border: 1px solid #aa9ec0;
  border-radius: 2px;
}

.div-date {
  display: inline-block;

  margin-top: 5px;
}

.float-right {
  margin-top: 10px;
}

button {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(129, 118, 157);
  border-radius: 2px;
  margin: 0 5px;
  background: #fff;
  padding: 8px 5px;
  min-width: 200px;
  height: 45px;
  outline: none;
  font-family: "Bliss Pro";
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

button span {
  display: block;
  margin-left: 10px;
  font-weight: 600 !important;
  font-size: 16px !important;
  color: rgb(83, 66, 121);
}

.close-button {
  min-width: initial;
  font-size: initial;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  padding: 5px;
  border: none !important;
}

.close-button span {
  margin: auto;
}

.modal-header {
  background: white !important;
  padding: 15px !important;
  border-bottom: 1.5px solid #d5cfdf !important;
}

.full-color-modal {
  height: 46px;
  width: 226px;
  border-radius: 2px;
  background-color: #ed6e00;
  border: 1px solid #ed6e00;
}

.full-color-modal span {
  height: 19px;
  width: 170px;
  color: #ffffff;
  font-family: "Bliss Pro";
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  text-align: center;
}

.modal-body .message {
  /*height: 90px;  */
  /*border: 1.5px solid #D5CFDF;
    border-radius: 0 0 6px 6px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2);*/
}

.message-approb {
  height: 250px;
}

.modal-hist {
  min-height: 400px !important;
}

.button-cancel {
  /* margin-top: 250px !important;*/
}

.modalcontent-hist {
  min-width: 700px !important;
}

.button-modal {
  border-top: 1.5px solid #d5cfdf !important;
  border-radius: 0 0 6px 6px !important;
  background-color: #ffffff !important;
  margin-top: 5px;
  padding-top: 15px;
  margin-bottom: 0 !important;
  /*box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2) !important;*/
}

.button-close {
  border: 1px solid #ed6e00 !important;
}

.button-close span {
  font-family: "Bliss Pro";
  font-size: 16px;
  color: #ed6e00 !important;
}

.bHideBody {
  display: none;
}

.bHideHeader {
  border: none !important;
}

.titlemensajeinfo {
  font-family: "Bliss Pro" !important;
  font-size: 19px !important;
  color: #2b0d61 !important;
  font-weight: bold !important;
  line-height: 28px !important;
}

.messageinfo {
  font-family: "Bliss Pro";
  font-size: 14px;
  color: #aa9ec0;
  font-weight: 300;
  height: 21px;
  line-height: 21px;
}

.messageinfo span {
  color: #2b0d61 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  line-height: 16px !important;
}

.modal-header {
  background: white !important;
  padding: 15px !important;
  border-bottom: 1.5px solid #d5cfdf !important;
}

.full-color-modal {
  height: 46px;
  width: 226px;
  border-radius: 2px;
  background-color: #ed6e00;
  border: 1px solid #ed6e00;
}

.full-color-modal span {
  height: 19px;
  width: 170px;
  color: #ffffff;
  font-family: "Bliss Pro";
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  text-align: center;
}

.modal-body .message {
  height: 90px;
  /*border: 1.5px solid #D5CFDF;	
  border-radius: 0 0 6px 6px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2);*/
}

.button-modal {
  border-top: 1.5px solid #d5cfdf !important;
  border-radius: 0 0 6px 6px !important;
  background-color: #ffffff !important;
  margin-top: 5px;
  padding-top: 15px;
  margin-bottom: 0 !important;
  /*box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2) !important;*/
}

.button-close {
  border: 1px solid #ed6e00 !important;
}

.button-close span {
  font-family: "Bliss Pro";
  font-size: 16px;
  color: #ed6e00 !important;
}

.bHideBody {
  display: none;
}

.bHideHeader {
  border: none !important;
}
