<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Formas de pago</h4>
    <!-- <button type="button" class="close" aria-label="Close" (click)="formModalReference.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button> -->
</div>
<div class="modal-body">
    <!--  -->
    <div class="row">
        <div class="col">
            <div class="btn-visa" style="text-align: center; margin: 25px 0;"></div>
        </div>
        <div class="col">
            <div class="btn-pago-efectivo" style="text-align: center; margin: 25px 0;">
                <a (click)="processPE()">
                    <img src="assets/images/logo_pagoefectivo_112x52.png" class="img-pago-efectivo" alt="PagoEfectivo"
                        style="cursor: pointer;" />
                </a>
            </div>
        </div>
    </div>
</div>
<!-- <div class="modal-footer">
    <button (click)="formModalReference.close()"><span>Cancelar</span></button>
</div> -->

<app-modal #modalResultadoPE [close]="false" [efectivoCss]="true">
    <div class="m-body efectivo">
        <div class="frame-result"></div>
        <div class="botones">
            <button class="btn-orange" (click)="finalizar()">Finalizar</button>
        </div>
    </div>
</app-modal>
<!-- Pantalla de carga -->
<div [hidden]="bLoading == true" class="loadingScreen">
    <div style="display:flex;height: 100%;width:100%">
        <i style="margin:auto;font-size: 50px" class="fa fa-spinner fa-spin"></i>
    </div>
</div>