<div class="container">
  <div class="form-group row">
    <div class="col-sm-12 col-lg-12">
      <div class="title-principal">
        <a>Generaci&oacute;n de Contrase&ntilde;a</a>
      </div>
      <div class="sub-title">
        Este servicio te permite generar de forma segura tu contraseña necesaria para ingresar al portal de Protecta.
      </div>
      <hr class="hdivider" />
      <app-retrieve-miga-pan [step]="3"></app-retrieve-miga-pan>
    </div>
  </div>

  <div class="form-group row" *ngIf="visibleInput">
    <div class="col-sm-0 col-lg-2"></div>
    <div class="col-sm-0 col-lg-8">
      <label>Usuario</label>
      <input type="text" class="form-control" [disabled]="true" [(ngModel)]="userName" />
    </div>
    <div class="col-sm-0 col-lg-2"></div>
  </div>
  <br>

  <form [formGroup]="inputForm" (ngSubmit)="onRenew()" *ngIf="visibleInput">

    <div class="form-group row">
      <div class="col-sm-0 col-lg-2"></div>
      <div class="col-sm-0 col-lg-8">
        <label>Ingresar nueva clave</label>
        <input type="password" class="form-control" placeholder="Ingrese contrase&ntilde;a" formControlName="newpwd" />
        <span *ngIf="!inputForm.get('newpwd').valid && inputForm.get('newpwd').touched" class="mensaje-error-control">La nueva contrase&ntilde;a es requerida</span>
      </div>
      <div class="col-sm-0 col-lg-2"></div>
    </div>
    <br>
    <div class="form-group row">
      <div class="col-sm-0 col-lg-2"></div>
      <div class="col-sm-0 col-lg-8">
        <label>Confirmar clave</label>
        <input type="password" class="form-control" placeholder="Confirme su contrase&ntilde;a" formControlName="checkpwd" />
        <span *ngIf="!inputForm.get('checkpwd').valid && inputForm.get('checkpwd').touched" class="mensaje-error-control">La confirmaci&oacute;n de contrase&ntilde;a es requerida</span>
      </div>
      <div class="col-sm-0 col-lg-2"></div>
    </div>
    <br>

    <div class="form-group row">
      <div class="col-sm-12 col-lg-4"></div>
      <div class="col-sm-12 col-lg-4">
        <button type="submit" [disabled]="loading || inputForm.invalid" class="btn btn-warning btn-block">Continuar</button>
        <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
        <div *ngIf="error" class="alert alert-danger">{{error}}</div>
      </div>
      <div class="col-sm-12 col-lg-4"></div>
    </div>
  </form>

  <div class="form-group row" *ngIf="visibleMessage">
    <div class="col-sm-12 col-lg-4"></div>
    <div class="col-sm-12 col-lg-4">
      <div class="alert alert-danger text-center">{{tokenMessage}}</div>
    </div>
    <div class="col-sm-12 col-lg-4"></div>
  </div>
</div>

<app-modal #modalWindow [close]="false" [extraCss]="true">
  <div class="m-body">
    <div class="row">
      <div class="col-lg-12">
        <h4>
          {{message}}
        </h4>
      </div>
    </div>
    <hr>
    <div class="botones">
      <button type="button" class="btn btn-orange" (click)="closeMessage()">Cerrar</button>
    </div>
  </div>
</app-modal>

<app-overlay [visible]="loading"></app-overlay>
