@media screen and (max-width: 768px) {
  .row-header-sidebar {
    display: table-row;
  }

  .row-header-sidebar h4 {
    display: table-cell !important;
    font-size: 18px !important;
    font-family: "Bliss Pro Bold" !important;
  }

  .row-header-sidebar i {
    display: table-cell !important;
    vertical-align: middle;
    font-size: 24px;
    margin-left: 10px;
    margin-right: 10px;
    width: 50px;
    text-align: center;
    color: #2b0d61;
  }

  .container-left-sidebar {
    display: none;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .container-left-sidebar hr {
    width: 100%;
  }
  .container-left-sidebar .row-01-sidebar,
  .container-left-sidebar .row-02-sidebar {
    width: 100%;
    display: table;
  }
  .hr-mobile {
    display: block;
  }
  .no-mobile {
    display: none;
  }
  .si-mobile {
    display: block;
    width: 100%;
  }
  .si-mobile .container-left-sidebar {
    width: 100%;
  }

  .chevron-down {
    background-image: url(../../../../../../assets/icons/arrow_down.svg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
  }
  .chevron-up {
    background-image: url(../../../../../../assets/icons/arrow_up.svg);
  }
}