<app-pixel-facebook></app-pixel-facebook>
<app-pixel-google-analytics></app-pixel-google-analytics>
<app-pixel-google-tag-manager></app-pixel-google-tag-manager>
<app-miga-pan
  [paso01]="true"
  [paso02]="true"
  [paso03]="false"
  [paso04]="false"
></app-miga-pan>
<br />
<div class="container-left">
  <h5>Resumen de la compra:</h5>
  <div class="row-01">
    <div class="cabecera">
      <div class="vineta">
        <img
          alt=""
          src="assets/icons/car_resumen.png"
          alt="Datos de vehiculo"
        />
      </div>
      <div class="subtitulos">
        <h5>Datos de mi veh&iacute;culo</h5>
        <h6>Nro. de placa: {{ auto.p_SREGIST }}</h6>
      </div>
    </div>
    <div class="datos">
      <table>
        <tr>
          <td class="column-01">Clase</td>
          <td class="column-02">:</td>
          <td class="column-03">{{ auto.p_SNAMECLASE }}</td>
        </tr>
        <tr>
          <td class="column-01">Marca</td>
          <td class="column-02">:</td>
          <td class="column-03">{{ auto.p_SNAME_VEHBRAND }}</td>
        </tr>
        <tr>
          <td class="column-01">Modelo</td>
          <td class="column-02">:</td>
          <td class="column-03">{{ auto.p_SNAME_VEHMODEL }}</td>
        </tr>
        <tr>
          <td class="column-01">A&ntilde;o</td>
          <td class="column-02">:</td>
          <td class="column-03">{{ auto.p_NYEAR }}</td>
        </tr>
        <tr>
          <td class="column-01">Tipo de servicio</td>
          <td class="column-02">:</td>
          <td class="column-03">{{ auto.p_SNAME_USO }}</td>
        </tr>
        <tr>
          <td class="column-01">Nro. de asientos</td>
          <td class="column-02">:</td>
          <td class="column-03">{{ auto.p_SEATNUMBER }}</td>
        </tr>
      </table>
    </div>
  </div>
  <hr />
  <!-- <div class="row-03">
      <h4>
        Ahora puedes adquirir tu SOAT Plus con Protecta Security
      </h4>
      <h3>
        Adquiere tu soat
        plus agregando tan
        solo S/. 25 a tu SOAT
      </h3>
      <button type="button" class="btn-white">Quiero conocer m&aacute;s</button>
      <br>
      <br>
    </div> -->
</div>
<div class="container-main">
  <app-title-step
    actual="3"
    titulo="Ingresa tus Datos Personales"
    url="../vehiculo"
  ></app-title-step>
  <div class="contenido">
    <div class="imagenes">
      <div class="tarjeta">
        <img
          alt=""
          *ngIf="tipoImagen === 0"
          src="assets/icons/dni_conductor.png"
          class="img-fluid"
        />
        <img
          alt=""
          *ngIf="tipoImagen === 1"
          src="assets/icons/dni_conductor_numero.png"
          class="img-fluid"
        />
      </div>
    </div>
    <form [formGroup]="contratanteForm" (ngSubmit)="onGuardar()">
      <div class="texto">
        <!--  <span>Soy una </span>
        <div class="d-row">
          <div>
            <select [ngClass]="{ 'deshabilitado': bLoading , 'error-validate':!contratanteForm.get('tipopersona').valid && contratanteForm.get('tipopersona').touched }"
              class="ll" (change)="listarTiposDocumento($event.target.value)" formControlName="tipopersona">
              <option value="">Selecciona el tipo de persona*</option>
              <option *ngFor="let tipo of tiposPersona" value="{{tipo.npersoN_TYP}}">{{tipo.sdescript}}</option>
            </select>
            <span *ngIf="!contratanteForm.get('tipopersona').valid && contratanteForm.get('tipopersona').touched"
            class="mensaje-error-control new-error">Necesitamos conocer tu tipo de persona
              <br>
            </span>
          </div>
        </div> -->

        <span>Mi tipo de documento es </span>
        <div class="d-row">
          <select
            #ddltipodocumento
            [ngClass]="{
              deshabilitado: bLoading,
              'error-validate':
                !contratanteForm.get('tipodocumento').valid &&
                contratanteForm.get('tipodocumento').touched
            }"
            (change)="onChangeTipoDocumento($event.target.value)"
            class="ll"
            formControlName="tipodocumento"
          >
            <option value="">Selecciona el tipo de documento*</option>
            <option
              *ngFor="let tipo of tiposDocumento"
              value="{{ tipo.niddoC_TYPE }}"
              >{{ tipo.sdescript }}</option
            >
          </select>

          <span
            *ngIf="
              !contratanteForm.get('tipodocumento').valid &&
              contratanteForm.get('tipodocumento').touched
            "
            class="mensaje-error-control new-error"
            >Necesitamos conocer tu tipo de documento
            <br />
          </span>
        </div>
        <div class="d-row si-mobile">
          <span
            *ngIf="
              !contratanteForm.get('tipodocumento').valid &&
              contratanteForm.get('tipodocumento').touched
            "
            class="mensaje-error-control  ico-error"
            >Necesitamos conocer tu tipo de documento
            <br />
          </span>
        </div>

        <span>y el n&uacute;mero es </span>
        <div class="d-row">
          <div>
            <input
              #txtdocumento
              type="text"
              [ngClass]="{
                deshabilitado: bLoading,
                'error-validate':
                  !contratanteForm.get('numdocumento').valid &&
                  contratanteForm.get('numdocumento').touched
              }"
              class="ss h31"
              placeholder="XXXXXXXX*"
              formControlName="numdocumento"
              maxlength="{{ this.longitudDocumento }}"
              minlength="{{ this.longitudDocumento }}"
              (keypress)="soloNumeros($event)"
              (blur)="onBlurNumeroDocument()"
            />
            <span class="point">.</span>
            <a (click)="setImagen(1)">
              <img
                alt=""
                class="tooltip_icon"
                src="assets/icons/tooltip.svg"
                width="23px"
                alt=""
              />
            </a>
          </div>
          <span
            *ngIf="
              !contratanteForm.get('numdocumento').valid &&
              contratanteForm.get('numdocumento').touched
            "
            class="mensaje-error-control new-error"
            >Necesitamos conocer el n&uacute;mero de tu documento
            <br />
          </span>
        </div>
        <div class="d-row si-mobile">
          <span
            *ngIf="
              !contratanteForm.get('numdocumento').valid &&
              contratanteForm.get('numdocumento').touched
            "
            class="mensaje-error-control  ico-error"
            >Necesitamos conocer el n&uacute;mero de tu documento
            <br />
          </span>
        </div>
        <br class="no-mobile" />
        <span *ngIf="!besEmpresa" class="form-group"
          >Mi apellido paterno es
        </span>
        <div *ngIf="!besEmpresa" class="form-group d-row">
          <div>
            <input
              type="text"
              [ngClass]="{
                deshabilitado: bLoading,
                'error-validate':
                  !contratanteForm.get('apepaterno').valid &&
                  contratanteForm.get('apepaterno').touched
              }"
              class="ll h31"
              placeholder="Tu apellido paterno aqui*"
              formControlName="apepaterno"
              maxlength="19"
            />
          </div>

          <span
            *ngIf="
              !contratanteForm.get('apepaterno').valid &&
              contratanteForm.get('apepaterno').touched
            "
            class="mensaje-error-control new-error"
            >Necesitamos conocer tu apellido paterno
            <br />
          </span>
        </div>
        <div class="d-row si-mobile">
          <span
            *ngIf="
              !contratanteForm.get('apepaterno').valid &&
              contratanteForm.get('apepaterno').touched
            "
            class="mensaje-error-control ico-error"
            >Necesitamos conocer tu apellido paterno
            <br />
          </span>
        </div>

        <span *ngIf="!besEmpresa" class="form-group">y el materno es </span>
        <div *ngIf="!besEmpresa" class="form-group d-row">
          <div>
            <input
              type="text"
              [ngClass]="{
                deshabilitado: bLoading,
                'error-validate':
                  !contratanteForm.get('apematerno').valid &&
                  contratanteForm.get('apematerno').touched
              }"
              class="ll h31"
              placeholder="Tu apellido materno aqui*"
              formControlName="apematerno"
              maxlength="19"
            />
            <span class="point">.</span>
          </div>

          <span
            *ngIf="
              !contratanteForm.get('apematerno').valid &&
              contratanteForm.get('apematerno').touched
            "
            class="mensaje-error-control new-error"
            >Necesitamos conocer tu apellido materno
            <br />
          </span>
        </div>
        <div class="d-row si-mobile">
          <span
            *ngIf="
              !contratanteForm.get('apematerno').valid &&
              contratanteForm.get('apematerno').touched
            "
            class="mensaje-error-control ico-error"
            >Necesitamos conocer tu apellido materno
            <br />
          </span>
        </div>
        <br class="no-mobile" />
        <span *ngIf="!besEmpresa" class="form-group">Mi nombres es </span>
        <div *ngIf="!besEmpresa" class="form-group d-row">
          <div>
            <input
              type="text"
              [ngClass]="{
                deshabilitado: bLoading,
                'error-validate':
                  !contratanteForm.get('nombres').valid &&
                  contratanteForm.get('nombres').touched
              }"
              class="ll"
              placeholder="Tu nombre completo aqui*"
              formControlName="nombres"
              maxlength="19"
            />
            <span class="point">.</span>
          </div>

          <span
            *ngIf="
              !contratanteForm.get('nombres').valid &&
              contratanteForm.get('nombres').touched
            "
            class="mensaje-error-control new-error"
            >Necesitamos conocer tus nombres
            <br />
          </span>
        </div>

        <div class="d-row si-mobile">
          <span
            *ngIf="
              !contratanteForm.get('nombres').valid &&
              contratanteForm.get('nombres').touched
            "
            class="mensaje-error-control ico-error"
            >Necesitamos conocer tus nombres
            <br />
          </span>
        </div>

        <span *ngIf="besEmpresa" class="form-group"
          >Mi raz&oacute;n social es
        </span>
        <div *ngIf="besEmpresa" class="form-group d-row">
          <div>
            <input
              type="text"
              [ngClass]="{
                deshabilitado: bLoading,
                'error-validate':
                  !contratanteForm.get('razonsocial').valid &&
                  contratanteForm.get('razonsocial').touched
              }"
              class="ll"
              placeholder="Tu Razon Social aqui*"
              formControlName="razonsocial"
              maxlength="19"
            />
            <span class="point">.</span>
          </div>

          <span
            *ngIf="
              !contratanteForm.get('razonsocial').valid &&
              contratanteForm.get('razonsocial').touched
            "
            class="mensaje-error-control new-error"
            >Necesitamos conocer tus razon social
            <br />
          </span>
        </div>

        <span *ngIf="!besEmpresa" class="form-group">Vivo en </span>
        <span *ngIf="besEmpresa" class="form-group">Me encuentro en </span>
        <div class="d-row">
          <div>
            <input
              type="text"
              [ngClass]="{
                deshabilitado: bLoading,
                'error-validate':
                  !contratanteForm.get('direccion').valid &&
                  contratanteForm.get('direccion').touched
              }"
              class="xxl h31"
              placeholder="Escribe tu direccion de domicilio actual*"
              formControlName="direccion"
              maxlength="80"
            />
          </div>

          <span
            *ngIf="
              !contratanteForm.get('direccion').valid &&
              contratanteForm.get('direccion').touched
            "
            class="mensaje-error-control new-error"
            >Necesitamos conocer tu direccion
            <br />
          </span>
        </div>
        <div class="d-row si-mobile">
          <span
            *ngIf="
              !contratanteForm.get('direccion').valid &&
              contratanteForm.get('direccion').touched
            "
            class="mensaje-error-control ico-error"
            >Necesitamos conocer tu direccion
            <br />
          </span>
        </div>

        <span>en el departamento de </span>
        <div class="d-row">
          <div>
            <select
              [ngClass]="{
                deshabilitado: bLoading,
                'error-validate':
                  !contratanteForm.get('departamento').valid &&
                  contratanteForm.get('departamento').touched
              }"
              class="ll"
              (change)="listarProvinciasPorDepartamento($event.target.value)"
              formControlName="departamento"
            >
              <option value="">Selecciona tu departamento*</option>
              <option
                *ngFor="let departamento of departamentos"
                value="{{ departamento.nprovince }}"
                >{{ departamento.sdescript }}</option
              >
            </select>
          </div>
          <span
            *ngIf="
              !contratanteForm.get('departamento').valid &&
              contratanteForm.get('departamento').touched
            "
            class="mensaje-error-control new-error"
            >Necesitamos conocer tu departamento
            <br />
          </span>
        </div>

        <div class="d-row si-mobile">
          <span
            *ngIf="
              !contratanteForm.get('departamento').valid &&
              contratanteForm.get('departamento').touched
            "
            class="mensaje-error-control ico-error"
            >Necesitamos conocer tu departamento
            <br />
          </span>
        </div>

        <span>en la provincia de </span>
        <div class="d-row">
          <div>
            <select
              [ngClass]="{
                deshabilitado: bLoading,
                'error-validate':
                  !contratanteForm.get('provincia').valid &&
                  contratanteForm.get('provincia').touched
              }"
              class="ll"
              (change)="listarDistritosPorProvincia($event.target.value)"
              formControlName="provincia"
            >
              <option value="">Selecciona tu provincia*</option>
              <option
                *ngFor="let provincia of provincias"
                value="{{ provincia.nlocal }}"
                >{{ provincia.sdescript }}</option
              >
            </select>
            <!-- <span class="point">.</span> -->
          </div>

          <span
            *ngIf="
              !contratanteForm.get('provincia').valid &&
              contratanteForm.get('provincia').touched
            "
            class="mensaje-error-control new-error"
            >Necesitamos conocer tu provincia
            <br />
          </span>
        </div>
        <div class="d-row si-mobile">
          <span
            *ngIf="
              !contratanteForm.get('provincia').valid &&
              contratanteForm.get('provincia').touched
            "
            class="mensaje-error-control ico-error"
            >Necesitamos conocer tu provincia
            <br />
          </span>
        </div>

        <span>y en el distrito de </span>
        <div class="d-row">
          <div>
            <select
              [ngClass]="{
                deshabilitado: bLoading,
                'error-validate':
                  !contratanteForm.get('distrito').valid &&
                  contratanteForm.get('distrito').touched
              }"
              class="ll"
              formControlName="distrito"
            >
              <option value="">Selecciona tu distrito*</option>
              <option
                *ngFor="let distrito of distritos"
                value="{{ distrito.nmunicipality }}"
                >{{ distrito.sdescript }}</option
              >
            </select>
            <!-- <span>.</span> -->
            <span class="point">.</span>
          </div>

          <span
            *ngIf="
              !contratanteForm.get('distrito').valid &&
              contratanteForm.get('distrito').touched
            "
            class="mensaje-error-control new-error"
            >Necesitamos conocer tu distrito
            <br />
          </span>
        </div>

        <div class="d-row si-mobile">
          <span
            *ngIf="
              !contratanteForm.get('distrito').valid &&
              contratanteForm.get('distrito').touched
            "
            class="mensaje-error-control ico-error"
            >Necesitamos conocer tu distrito
            <br />
          </span>
        </div>

        <span>Mi correo es </span>
        <div class="d-row">
          <div>
            <input
              type="text"
              [ngClass]="{
                deshabilitado: bLoading,
                'error-validate':
                  !contratanteForm.get('correo').valid &&
                  contratanteForm.get('correo').touched
              }"
              class="ll h31"
              placeholder="nombre@mail.com*"
              formControlName="correo"
              maxlength="60"
              pattern="^[a-zA-Z0-9.!#$%&'*+/=?^_`{|}~-]+@[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?(?:\.[a-zA-Z0-9](?:[a-zA-Z0-9-]{0,61}[a-zA-Z0-9])?)+$"
            />
            <!-- <span>.</span> -->
          </div>

          <span
            *ngIf="
              !contratanteForm.get('correo').valid &&
              contratanteForm.get('correo').touched
            "
            class="mensaje-error-control new-error"
            >Necesitamos conocer tu correo
            <br />
          </span>
        </div>
        <div class="d-row si-mobile">
          <span
            *ngIf="
              !contratanteForm.get('correo').valid &&
              contratanteForm.get('correo').touched
            "
            class="mensaje-error-control ico-error"
            >Necesitamos conocer tu correo
            <br />
          </span>
        </div>

        <span>y mi n&uacute;mero de celular es </span>
        <div class="d-row">
          <div>
            <input
              type="text"
              [ngClass]="{
                deshabilitado: bLoading,
                'error-validate':
                  (!contratanteForm.get('celular').valid &&
                    contratanteForm.get('celular').touched) ||
                  (contratanteForm.get('celular').valid &&
                    contratanteForm.get('celular').touched &&
                    contratanteForm.get('celular').value.length !== 9)
              }"
              class="mm h31"
              placeholder="XXXXXXX*"
              formControlName="celular"
              maxlength="9"
              (keypress)="soloNumeros($event)"
            />
            <span class="point">.</span>
          </div>

          <span
            *ngIf="
              !contratanteForm.get('celular').valid &&
              contratanteForm.get('celular').touched
            "
            class="mensaje-error-control new-error"
            >Necesitamos conocer tu celular
            <br />
          </span>
          <span
            *ngIf="
              contratanteForm.get('celular').valid &&
              contratanteForm.get('celular').touched &&
              contratanteForm.get('celular').value.length !== 9
            "
            class="mensaje-error-control  new-error"
          >
            El celular debe tener 9 d&iacute;gitos
            <br />
          </span>
        </div>
        <div class="d-row si-mobile">
          <span
            *ngIf="
              !contratanteForm.get('celular').valid &&
              contratanteForm.get('celular').touched
            "
            class="mensaje-error-control ico-error"
            >Necesitamos conocer tu celular
            <br />
          </span>
          <span
            *ngIf="
              contratanteForm.get('celular').valid &&
              contratanteForm.get('celular').touched &&
              contratanteForm.get('celular').value.length !== 9
            "
            class="mensaje-error-control  ico-error"
          >
            El celular debe tener 9 d&iacute;gitos
            <br />
          </span>
        </div>
      </div>
      <div class="botones">
        <button
          type="submit"
          [ngClass]="{ deshabilitado: bFlagBoton }"
          class="btn btn-siguiente"
          [disabled]="!contratanteForm.valid"
        >
          Continuar al paso 4: Resumen de tu compra
        </button>
        <img alt="" *ngIf="bSpinner" src="assets/icons/loading.gif" />
        <div class="mensajes-validacion"></div>
      </div>
    </form>
  </div>
</div>
<br />
<app-modal #modalDatosPersonales>
  <div class="m-body">
    <div class="autocomplete-title">
      <h1>Autocompletado de datos</h1>
    </div>
    <div class="autocomplete-content">
      Tus datos se est&aacute;n obteniendo de la base de datos personales que
      tiene registrado Protecta Security. <br />En caso hayas cambiado tu
      direcci&oacute;n, no olvides modificarla.
    </div>
    <div class="botonespopup">
      <button class="btn-orange" (click)="cerrarModal()">Aceptar</button>
    </div>
  </div>
</app-modal>

<app-modal #modalTarifa>
  <div class="m-body">
    <div class="autocomplete-title">
      <h1>Validaci&oacute;n</h1>
    </div>
    <div class="fee-validation">
      Lamentablemente, no contamos con una tarifa configurada para los valores
      ingresados de su veh&iacute;culo. <br />Por favor, modifique sus datos e
      intente nuevamente.
    </div>
    <div class="botonespopup">
      <button class="btn-orange" (click)="cerrarModalTarifa()">Cerrar</button>
    </div>
  </div>
</app-modal>
