select{
    padding: 9px 5px;
    outline: none;
    color:#AA9EC0;
    border-top:1px solid rgb(168, 159, 186);
    border-left:1px solid rgb(211, 206, 221);
    border-right:1px solid rgb(168, 159, 186);
    border-bottom:1px solid rgb(211, 206, 221);
    border-radius: 3px;
    width: 160px;
    font-family: Arial;
    font-size: 11px;
}