.label-filtros {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 11px;
  color: rgb(153, 136, 180);
  font-weight: 600;
}

.h-divider {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 1px;
  width: 100%;
  border-top: 1px solid gray;
}

.titles {
  color: #553d81;
  font-size: 24px;
  font-weight: bold;
  line-height: 31px;
  display: block;
  margin-top: 8px;
  margin-right: 18px;
  font-family: Bliss Pro;
}

button {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(129, 118, 157);
  border-radius: 2px;
  margin: 0 5px;
  background: #fff;
  padding: 8px 5px;
  min-width: 200px;
  height: 45px;
  outline: none;
  font-family: "Bliss Pro";
  font-size: 16px;
}

button:hover {
  cursor: pointer;
}

button span {
  display: block;
  margin-left: 10px;
  font-weight: 600 !important;
  color: rgb(83, 66, 121);
}

.full-color {
  background: #553d81;
  margin-bottom: 10px;
}

.full-color span {
  color: #fff;
}

.grid {
  width: 100%;
  margin: 20px auto;
  font-size: 14px;
  font-weight: 300;
}

.grid table {
  width: 100%;
  border-collapse: collapse;
}

.grid table tr td {
  padding: 15px 15px;
  text-align: center;
  /*color:rgb(146, 138, 163);*/
  color: #806ea0;
}

.grid table .grid-title td {
  font-family: "Bliss Pro";
  padding: 25px 15px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: rgba(42, 18, 99, 0.78);
}

.grid table tr td button {
  border: none;
  display: block;
  padding: 7px 9px;
  border-radius: 3px;
  background: rgb(169, 157, 192);
  color: #fff;
  margin: 0 2px;
  outline: none;
  height: 30px;
  width: 25px;
}

.grid table tr .flex {
  display: flex;
  justify-content: center;
}

select {
  width: 100%;
  border: none;
  display: block;
  padding: 8px 5px;
  border: 1px solid rgb(146, 138, 163);
  border-radius: 2px;
  margin-top: 5px;
  color: rgb(146, 138, 163);
  /* outline: auto; */
  /* margin-left: 3px; */
  font-family: "Bliss Pro";
  font-size: 14px;
  height: 45px;
  padding-left: 12px;
  font-weight: 300;
  color: #aa9ec0;
  border: 1px solid #aa9ec0;
}

input[type="text"] {
  border: none;
  border-radius: 2px;
  padding: 7px 5px;
  margin-top: 5px;
  border: 1px solid rgb(146, 138, 163);
  color: rgb(146, 138, 163);
  font-size: 14px;
  width: 100%;
  border: 1px solid #aa9ec0;
  color: #aa9ec0;
  height: 45px;
  font-weight: 300;
  padding-left: 12px;
}

.titlemensajeinfo {
  font-family: "Bliss Pro" !important;
  font-size: 19px !important;
  color: #2b0d61 !important;
  font-weight: bold !important;
  line-height: 28px !important;
}
.messageinfo {
  font-family: "Bliss Pro";
  font-size: 14px;
  color: #aa9ec0;
  font-weight: 300;
  height: 21px;
  line-height: 21px;
}

.messageinfo span {
  color: #2b0d61 !important;
  font-size: 14px !important;
  font-weight: bold !important;
  line-height: 16px !important;
}

.header-content {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid rgb(109, 99, 129);
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
}

.header-content .containt-item {
  display: flex;
  justify-content: space-between;
}

.header-content .header-item {
  display: block;
  padding: 5px 0;
}

.header-content .header-item .title {
  color: #553d81;
  font-size: 36px;
  font-weight: bold;
  line-height: 31px;
  display: block;
  margin-top: 8px;
  margin-right: 18px;
}

.header-content .header-item .min-color button {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(129, 118, 157);
  border-radius: 2px;
  margin: 0 5px;
  background: #fff;
  padding: 8px 5px;
  min-width: 177px;
  height: 45px;
  outline: none;
}

.header-content .header-item .full-color button {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(129, 118, 157);
  border-radius: 2px;
  margin: 0 5px;
  background: #553d81;
  color: #fff;
  padding: 8px 5px;
  min-width: 177px;
  height: 45px;
  outline: none;
}

.header-content .header-item .full-color span {
  color: #fff;
}

.header-content .header-item button:hover {
  cursor: pointer;
}

.header-content .header-item button span {
  display: block;
  margin-left: 10px;
  font-weight: 600;
  color: rgb(83, 66, 121);
}

.header-content .header-item .purple {
  background: #553d81;
}

.header-content .header-item .purple span {
  color: #fff;
}

.header-content .rigth-item {
  float: right;
}

.float-right {
  margin-top: 10px;
}

::placeholder {
  color: rgb(146, 138, 163);
}

.filter {
  width: 100%;
  margin: 10px auto;
  border-bottom: 1px solid rgb(84, 61, 129);
  padding: 10px 0 15px 0;
}

.filter .filter-row {
  width: 100%;
  display: flex;
}

.filter .filter-row .filter-row-cell {
  padding: 8px 5px;
}

.filter .filter-row .filter-row-cell span {
  width: 100%;
  color: #2b0d61;
  display: block;
  font-size: 14px;
}

.filter .filter-row .filter-row-cell input[type="text"] {
  border: none;
  border-radius: 2px;
  padding: 7px 5px;
  margin-top: 5px;
  border: 1px solid rgb(146, 138, 163);
  color: rgb(146, 138, 163);
  font-size: 14px;
  width: 100%;
  border: 1px solid #aa9ec0;
  color: #aa9ec0;
  height: 45px;
  font-weight: 300;
  padding-left: 12px;
}

.filter .filter-row .filter-row-cell input[type="date"] {
  border: none;
  border-radius: 2px;
  padding: 7px 5px;
  margin-top: 5px;
  border: 1px solid rgb(146, 138, 163);
  color: rgb(146, 138, 163);
  font-size: 14px;
  width: 100%;
  border: 1px solid #aa9ec0;
  color: #aa9ec0;
  height: 45px;
  font-weight: 300;
  padding-left: 12px;
}

.close-button {
  min-width: initial;
  font-size: initial;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  padding: 5px;
  border: none !important;
}

.close-button span {
  margin: auto;
}

input[type="checkbox"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  -ms-appearance: radio; /* not currently supported */
  -o-appearance: radio; /* not currently supported */
}

.spanFecha {
  margin-top: 10px;
}

.modal-header {
  background: white !important;
  padding: 15px !important;
  border-bottom: 1.5px solid #d5cfdf !important;
}

.full-color-modal {
  height: 46px;
  width: 226px;
  border-radius: 2px;
  background-color: #ed6e00;
  border: 1px solid #ed6e00;
}

.full-color-modal span {
  height: 19px;
  width: 170px;
  color: #ffffff;
  font-family: "Bliss Pro";
  font-size: 16px;
  font-weight: 900;
  line-height: 19px;
  text-align: center;
}

.modal-body .message {
  /*height: 90px;  */
  /*border: 1.5px solid #D5CFDF;	
    border-radius: 0 0 6px 6px;
    background-color: #FFFFFF;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2);*/
}

.message-approb {
  height: 250px;
}
.modal-hist {
  min-height: 400px !important;
}

.button-cancel {
  /* margin-top: 250px !important;*/
}

.modalcontent-hist {
  min-width: 700px !important;
}

.button-modal {
  border-top: 1.5px solid #d5cfdf !important;
  border-radius: 0 0 6px 6px !important;
  background-color: #ffffff !important;
  margin-top: 5px;
  padding-top: 15px;
  margin-bottom: 0 !important;
  /*box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2) !important;*/
}

.button-close {
  border: 1px solid #ed6e00 !important;
}
.button-close span {
  font-family: "Bliss Pro";
  font-size: 16px;
  color: #ed6e00 !important;
}

.bHideBody {
  display: none;
}

.bHideHeader {
  border: none !important;
}

.date-search {
  min-width: 89px !important;
}

.titleHist {
  font-size: 25px !important;
}

.nlote {
  color: rgb(163, 73, 164) !important;
  font-size: 20px !important;
}

.scanal {
  color: rgb(163, 73, 164) !important;
  font-size: 16px !important;
}

.grid-title {
  font-family: "Bliss Pro";
  padding: 25px 15px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: rgba(42, 18, 99, 0.78);
}

.data-hist {
  padding: 15px 15px;
  text-align: center;
  color: #806ea0;
}

.label-historial {
  color: hsla(257, 66%, 21%, 0.79);
  font-weight: bold;
  font-size: 16px;
}

/*table historial*/

.payroll-content {
  width: 99%;
  height: auto;
  font-family: "Bliss Pro";
  font-size: 13px;
}

.payroll-content ::-webkit-scrollbar {
  width: 7px;

  margin: 10px 0;
}

.payroll-content ::-webkit-scrollbar-track {
  -webkit-margin-top-collapse: collapse;
  margin-top: 60px;
  margin-bottom: 25px;
}

.payroll-content ::-webkit-scrollbar-thumb {
  background: rgb(169, 158, 192);
  -webkit-box-shadow: inset 0 0 6px rgba(78, 73, 73, 0.24);
  border-radius: 15px;
}

.payroll-content ::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(169, 158, 192);
}

.payroll-content .header-content {
  width: 100%;
  margin-top: 10px;
  border-bottom: 1px solid rgb(109, 99, 129);
  display: flex;
  justify-content: space-between;
  padding: 12px 15px;
}

.payroll-content .header-content .containt-item {
  display: flex;
  justify-content: space-between;
}

.payroll-content .header-content .header-item {
  display: block;
  padding: 5px 0;
}

.payroll-content .header-content .header-item .title {
  color: #553d81;
  font-size: 24px;
  font-weight: bold;
  line-height: 31px;
  display: block;
  margin-top: 8px;
  margin-right: 18px;
}

.payroll-content .header-content .header-item button {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(129, 118, 157);
  border-radius: 2px;
  margin: 0 5px;
  background: #fff;
  padding: 8px 5px;
  min-width: 210px;
  height: 45px;
  outline: none;
}

.payroll-content .header-content .header-item button:hover {
  cursor: pointer;
}

.payroll-content .header-content .header-item button span {
  display: block;
  margin-left: 10px;
  font-weight: 600;
  color: rgb(83, 66, 121);
}

.payroll-content .header-content .header-item .purple {
  background: #553d81;
}

.payroll-content .header-content .header-item .purple span {
  color: #fff;
}

.payroll-content .header-content .rigth-item {
  float: right;
}

/*Opciones*/

.payroll-content .option-content {
  width: 100%;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

.payroll-content .option-content span {
  font-size: 17px;
  font-weight: bold;
  line-height: 31px;
  display: block;
  color: rgb(127, 111, 157);
  margin-top: 10px;
}

.payroll-content .option-content button {
  border: 1px solid rgb(129, 118, 157);
  border-radius: 2px;
  margin: 0 5px;
  background: #fff;
  padding: 8px 5px;
  min-width: 210px;
  height: 45px;
  outline: none;
  font-weight: 600;
  color: rgb(83, 66, 121);
}

.payroll-content .option-content button:hover {
  cursor: pointer;
}

/*Filtros*/

.payroll-content .filter-content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding: 0px 15px;
}

.payroll-content .filter-content .filter-contain {
  display: flex;
  justify-content: flex-start;
  padding: 0 2px;
}

.payroll-content .filter-content .filter-contain button {
  display: block;
  border: none;
  width: 90px;
  height: 36px;
  padding: 9px 7px;
  margin-top: 28px;
  border-top: 1px solid rgb(168, 159, 186);
  border-left: 1px solid rgb(211, 206, 221);
  border-right: 1px solid rgb(168, 159, 186);
  border-bottom: 1px solid rgb(211, 206, 221);
  border-radius: 3px;
  background: #fff;
  outline: none;
  cursor: pointer;
}

.payroll-content .filter-content .filter-contain .space {
  padding-left: 15px;
}

.payroll-content .filter-content .filter-contain .contain-item {
  margin-right: 5px;
}

.payroll-content .filter-content .filter-contain .contain-item select {
  padding: 9px 5px;
  outline: none;
  color: #aa9ec0;
  border-top: 1px solid rgb(168, 159, 186);
  border-left: 1px solid rgb(211, 206, 221);
  border-right: 1px solid rgb(168, 159, 186);
  border-bottom: 1px solid rgb(211, 206, 221);
  border-radius: 3px;
  width: 160px;
  font-family: Arial;
  font-size: 11px;
}

.payroll-content .filter-content .filter-contain .contain-item .item-label {
  display: block;
  width: 100%;
  margin-bottom: 4px;
}

.payroll-content
  .filter-content
  .filter-contain
  .contain-item
  .item-label
  span {
  font-size: 11px;
  font-weight: 300;
  line-height: 24px;
  color: #2b0d61;
}

.payroll-content .filter-content .filter-contain .contain-item .item-flex {
  display: flex;
  justify-content: flex-start;
}

.payroll-content
  .filter-content
  .filter-contain
  .contain-item
  .item-flex
  .item-data {
  margin-right: 10px;
}

.payroll-content
  .filter-content
  .filter-contain
  .contain-item
  .item-flex
  .item-data
  span {
  color: #2b0d61;
  font-size: 11px;
}

.payroll-content
  .filter-content
  .filter-contain
  .contain-item
  input[type="text"] {
  padding: 9px 7px;
  outline: none;
  color: #aa9ec0;
  border-top: 1px solid rgb(168, 159, 186);
  border-left: 1px solid rgb(211, 206, 221);
  border-right: 1px solid rgb(168, 159, 186);
  border-bottom: 1px solid rgb(211, 206, 221);
  border-radius: 3px;
  width: 233px;
  height: 16px;
}

.payroll-content
  .filter-content
  .filter-contain
  .contain-item
  input[type="text"]::placeholder {
  color: #aa9ec0;
}

.payroll-content
  .filter-content
  .filter-contain
  .contain-item
  .item-flex
  .item-data
  input[type="date"] {
  padding: 7px 5px;
  color: #aa9ec0;
  outline: none;
  border-top: 1px solid rgb(168, 159, 186);
  border-left: 1px solid rgb(211, 206, 221);
  border-right: 1px solid rgb(168, 159, 186);
  border-bottom: 1px solid rgb(211, 206, 221);
  border-radius: 3px;
}

.payroll-content
  .filter-content
  .filter-contain
  .contain-item
  .item-input-flex {
  display: flex;
  justify-content: flex-start;
}

/*Resultado*/

.payroll-content .grid-content {
  width: 100%;
  margin-top: 10px;
  padding: 0px 15px;
}

.payroll-content .grid-content .grid-content-data {
  width: 100%;
  max-height: 500px;
}

.payroll-content .grid-content .grid-content-data .grid-content-data-table {
  width: 100%;
  margin: 20px auto 15px auto;
  border-collapse: collapse;
}

.payroll-content
  .grid-content
  .grid-content-data
  .grid-content-data-table
  .data-table-title-tr {
  font-family: "Bliss Pro";
  font-size: 12px;
  color: rgba(42, 18, 99, 0.78);
  font-weight: 600;
}

.payroll-content
  .grid-content
  .grid-content-data
  .grid-content-data-table
  .data-table-title-tr
  td {
  padding: 20px 5px;
}

.payroll-content
  .grid-content
  .grid-content-data
  .grid-content-data-table
  .data-table-title-tr
  .td-radio {
  width: 20px;
}

.payroll-content
  .grid-content
  .grid-content-data
  .grid-content-data-table
  .data-table-title-tr
  input[type="radio"] {
  display: block;
  margin-top: 2px;
  border: 1px solid rgba(42, 18, 99, 0.78);
}

.payroll-content
  .grid-content
  .grid-content-data
  .grid-content-data-table
  .data-table-tr
  td {
  padding: 20px 5px;
  /*color:rgb(166, 159, 177);*/
  color: #806ea0;
  font-size: 12px;
  user-select: none;
}

.payroll-content
  .grid-content
  .grid-content-data
  .grid-content-data-table
  .data-table-tr
  .data-table-tr-td-radio {
  width: 20px;
}

.payroll-content
  .grid-content
  .grid-content-data
  .grid-content-data-table
  .data-table-tr
  .data-table-tr-td
  button {
  border: none;
  width: 24px;
  height: 24px;
  padding: 0;
  outline: none;
}

.payroll-content
  .grid-content
  .grid-content-data
  .grid-content-data-table
  .data-table-tr
  .data-table-tr-td
  button
  img {
  width: 100%;
  height: 100%;
}

.payroll-content
  .grid-content
  .grid-content-data
  .grid-content-data-table
  .data-table-tr
  .data-table-tr-td
  button
  img:hover {
  cursor: pointer;
}

.payroll-content .grid-content .grid-content-pagination {
  width: 100%;
  margin-top: 70px;
}

.payroll-content .grid-content .grid-content-pagination .pagination-content {
  margin: 10px auto;
  display: flex;
  justify-content: center;
}

.payroll-content .grid-content .grid-content-pagination .pagination-content a {
  text-decoration: none;
  display: block;
  width: 24px;
  height: 18px;
  text-align: center;
  border: 0.5px solid rgb(166, 160, 185);
  padding: 7px 6px;
  color: rgb(84, 65, 120);
  background: #fff;
  transition: all 0.6s;
  font-weight: 500;
}

.payroll-content
  .grid-content
  .grid-content-pagination
  .pagination-content
  a:hover {
  background: rgb(166, 160, 185);
  color: #fff;
  font-weight: 600;
}

/*Grillas*/

.payroll-content .result-content {
  width: 100%;
  margin-top: 15px;
  padding: 5px 15px;
  max-height: 325px;
  height: 400px;
  overflow-x: auto;
}

.payroll-content .result-content table {
  width: 100%;
  border-collapse: collapse;
}

.payroll-content .result-content table td {
  padding: 20px 3px;
  color: #806ea0; /*rgb(166, 159, 177);*/
  text-align: center;
  font-size: 14px;
  font-weight: 300;
}

.payroll-content .result-content table .td-tittle {
  color: hsla(257, 66%, 21%, 0.79);
  font-weight: bold;
  font-size: 16px;
  padding: 8px 6px;
}

/*Detalle Monto*/

.payroll-content .amount-content {
  width: 100%;
  margin-top: 15px;
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
}

.payroll-content .amount-content span {
  font-size: 11px;
  color: rgb(127, 112, 157);
  font-weight: 600;
}

.payroll-content .amount-content .span-count {
  color: rgb(81, 62, 119);
  font-size: 15px;
  margin-left: 10px;
}

.payroll-content .amount-content .span-amount {
  color: rgb(230, 108, 8);
  font-size: 15px;
  margin-left: 10px;
}

/*Opcion de Generacion*/

.payroll-content .generate-content {
  width: 100%;
  margin-top: 15px;
  padding: 5px 15px;
  /*display: flex;
      justify-content: center;*/
}

.payroll-content .generate-content button {
  /*display: flex;
      justify-content: center;*/
  float: right;
  border: 1px solid rgb(84, 61, 129);
  margin: 0 5px;
  background: rgb(84, 61, 129);
  padding: 8px 5px;
  min-width: 210px;
  height: 45px;
  outline: none;
  color: #fff;
  font-weight: 600;
  border-radius: 1px;
}

.payroll-content .generate-content button:hover {
  cursor: pointer;
}

/*Simple Contenido*/

.payroll-content .simple-content {
  width: 100%;
  margin-top: 15px;
  padding: 5px 15px;
}

.payroll-content .simple-content span {
  font-size: 17px;
  font-weight: bold;
  line-height: 31px;
  display: block;
  color: rgb(127, 111, 157);
  margin-top: 10px;
}

/*Data de Liquidacion*/

.payroll-content .generate-data-content {
  width: 100%;
  margin-top: 15px;
  padding: 5px 15px;
}

.payroll-content .generate-data-content .generate-data-row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.payroll-content
  .generate-data-content
  .generate-data-row
  .generate-data-row-cell {
  width: 25%;
  padding: 10px 0;
  margin-right: 2px;
}

.payroll-content
  .generate-data-content
  .generate-data-row
  .generate-data-row-cell
  span {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  font-size: 14px;
  color: rgb(153, 136, 180);
  font-weight: 300;
}

.payroll-content
  .generate-data-content
  .generate-data-row
  .generate-data-row-cell
  input[type="text"],
.payroll-content
  .generate-data-content
  .generate-data-row
  .generate-data-row-cell
  input[type="date"] {
  padding: 9px 7px;
  outline: none;
  color: #aa9ec0;
  border-top: 1px solid rgb(211, 206, 221);
  border-left: 1px solid rgb(211, 206, 221);
  border-right: 1px solid rgb(168, 159, 186);
  border-bottom: 1px solid rgb(168, 159, 186);
  border-radius: 3px;
  width: 205px;
  height: 16px;
}

.payroll-content
  .generate-data-content
  .generate-data-row
  .generate-data-row-cell
  select {
  padding: 9px 5px;
  outline: none;
  color: #aa9ec0;
  border-top: 1px solid rgb(211, 206, 221);
  border-left: 1px solid rgb(211, 206, 221);
  border-right: 1px solid rgb(168, 159, 186);
  border-bottom: 1px solid rgb(168, 159, 186);
  border-radius: 3px;
  width: 220px;
  font-weight: 300;
  font-size: 14px;
}

/*Opciones de Liquidacion*/

.payroll-content .simple-content-button {
  width: 100%;
  margin-top: 15px;
  padding: 5px 15px;
  display: flex;
  justify-content: flex-start;
}

.payroll-content .simple-content-button button {
  display: flex;
  justify-content: center;
  border: 1px solid rgb(83, 66, 121);
  border-radius: 2px;
  margin-right: 4px;
  background: #fff;
  padding: 8px 5px;
  min-width: 220px;
  height: 45px;
  outline: none;
  font-weight: 600;
  color: rgb(83, 66, 121);
}

.payroll-content .simple-content-button .full-color {
  background: rgb(83, 66, 121);
  color: #fff;
}

.payroll-content .simple-content-button button:hover {
  cursor: pointer;
}

/*Detalle Importe*/

.payroll-content .between-content {
  width: 100%;
  margin-top: 5px;
  padding: 5px 15px;
}

.payroll-content .between-content .between-content-item {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.payroll-content
  .between-content
  .between-content-item
  .between-content-item-div {
  padding: 8px 0;
}

.payroll-content
  .between-content
  .between-content-item
  .between-content-item-div
  span {
  color: rgb(130, 120, 157);
  font-size: 12px;
}

.payroll-content
  .between-content
  .between-content-item
  .between-content-item-div
  .amount-span {
  color: rgb(230, 108, 8);
  font-size: 17px;
  font-weight: bold;
  margin-right: 8px;
}

.payroll-content
  .between-content
  .between-content-item
  .between-content-item-div
  .type-money-span {
  color: rgb(83, 64, 119);
}

/*fin historial*/
.dato-estado {
  width: 100%;
  color: #2b0d61;
  display: block;
  font-size: 14px;
  padding-top: 15px;
}

.dato-obs {
  width: 100%;
  color: #2b0d61;
  display: block;
  font-size: 14px;
}

.text-obs {
  border: 1px solid #aa9ec0 !important;
  border-radius: 2px;
}

.bopacitysave {
  opacity: 0.8;
  /*background-color: */
}
