<br>
<div class="container-left">
  <div class="row-01">
    <h4>Te mostramos un ejemplo de tu SOAT electr&oacute;nico</h4>
  </div>
  <div class="row-02">
    <img  alt="" src="assets/images/soat_large_view.jpg" alt="SOAT electr&oacute;nico">
  
  </div>
  <hr>
  <!-- <div class="row-03">
    <h4>
      Ahora puedes adquirir tu SOAT Plus con Protecta Security
    </h4>
    <h3>
      Adquiere tu soat
      plus agregando tan
      solo S/. 25 a tu SOAT
    </h3>
    <button type="button" class="btn-white">Quiero conocer m&aacute;s</button>
    <br>
    <br>
  </div> -->
</div>
