/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~ngx-bootstrap/datepicker/bs-datepicker.css";
@import url("./assets/fonts/fontawesome/css/font-awesome.min.css");
@font-face {
    font-family: "Bliss Pro";
    font-display: swap;
    src: url("./assets/fonts/bliss/BlissPro-Light.otf");
}

@font-face {
    font-family: "Bliss Pro Bold";
    font-display: swap;
    src: url("./assets/fonts/bliss/BlissPro-Bold.otf");
}

html, body, input, select, button, * {
    font-family: "Bliss Pro";
}

.container-main {
    width: 70%;
    min-height: 750px;
    float: left;
    margin-left: 2%;
}

.mensaje-error {
    color: red;
    font-size: 13px;
}

.mensaje-error-control {
    color: #fd2f21;
    font-family: "Bliss Pro";
    font-size: 13px;
    line-height: 12px;
    /*border: 1px solid #000;*/
}

.deshabilitado {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #eceeef !important;
}

.deshabilitado-boton {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #2b0d61 !important;
}

.white-overlay {
    background: rgba(255, 255, 255, 0.8) !important;
    opacity: 1 !important;
}

.extra-modal {
    background-color: rgb(255, 255, 255, 0.85) !important;
}

.extra-modal .modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.mi-paginado ul.pagination {
    width: fit-content !important;
    margin: auto !important;
}

.input-text-help {
    background: url(assets/icons/help-orange.png) 97% no-repeat;
}

.select-chevron {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(assets/icons/chevron-small-down.png) 97% no-repeat;
}

.volver {
    width: 100%;
    height: 16px;
    margin-bottom: 30px;
}

.volver a {
    color: #806ea0;
    font-family: "Bliss Pro";
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    margin-left: 5px;
}

.volver a img {
    /* float: left;
  margin-left: 5px;
  margin-top: 5px; */
    margin-bottom: 2px;
    vertical-align: middle;
}

.no-left {
    padding-left: 0px !important;
    margin-left: 0px !important;
}

.bs-datepicker-container {
    padding: 0px;
}

.bs-datepicker-head {
    background-color: #fff !important;
    color: #2b0d61;
    font-weight: bold;
    font-size: 16px;
}

.bs-datepicker-head button.current {
    border-radius: 15px;
    max-width: 155px;
    padding: 0 13px;
    color: #2b0d61;
    font-family: "Bliss Pro";
    text-transform: uppercase;
    font-size: 14px;
}

.bs-datepicker-head button.next, .bs-datepicker-head button.previous {
    color: #2b0d61 !important;
}

.bs-datepicker-body table td span.selected, bs-datepicker-body table td.selected span, .bs-datepicker-body table td span[class*="select-"]:after, .bs-datepicker-body table td[class*="select-"] span:after {
    background-color: #c0bcc4 !important;
    color: #fff !important;
}

.bs-datepicker-body table th {
    font-size: 10px;
    color: #2b0d61;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    font-size: 10px;
    font-family: "Bliss Pro";
}

.error-validate {
    border: 1px solid red !important;
    color: red !important;
}

.error-validate::placeholder {
    color: red !important;
}

/* * {
  border: 1px solid gray;
} */

/* MG */

/* Swal alert */

.swal2-styled.swal2-confirm {
    font-size: 16px !important;
    font-weight: 900 !important;
    line-height: 20px !important;
    text-align: center !important;
    background: #ed6e00 !important;
    border-color: #ed6e00 !important;
}

.swal2-styled.swal2-cancel {
    font-size: 16px !important;
    font-weight: 900 !important;
    line-height: 20px !important;
    text-align: center !important;
}

.swal2-content {
    font-size: 16px !important;
    color: #aa9ec0 !important;
    font-weight: 300 !important;
}

.swal2-title {
    font-size: 24px !important;
    color: #2b0d61 !important;
}

/* Acordion */

.accordion .card-header {
    padding: 0px !important;
}

.accordion .card-header h5, .collapse-list .title {
    padding: .75rem 1.25rem;
    background-color: #806ea0;
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
}

.accordion .card-header h5:hover {
    cursor: pointer;
}

.card {
    border: 1px solid rgba(0, 0, 0, .125) !important;
}

.form-control:disabled, .form-control[readonly] {
    background-color: #ebebe4;
    opacity: 1;
}

/*Seelect search*/

.ng-select .ng-select-container .ng-value-container .ng-placeholder {
    color: #aa9ec0;
    font-size: 14px;
    text-transform: uppercase;
    position: absolute;
    /* z-index: -999; */
}

.ng-select .ng-select-container .ng-value-container .ng-input>input {
    color: #aa9ec0;
}

.ng-select.ng-select-single .ng-select-container {
    width: 100%;
    border: none;
    padding: 14px 15px;
    border-radius: 2px;
    font-size: 14px;
    height: 46px;
    font-weight: 300;
    color: #aa9ec0;
}

.border-ng {
    border: 1px solid #aa9ec0;
    border-radius: 2px;
    width: 100%;
    padding: 1px;
    font-size: 14px;
    font-weight: 300;
    color: #aa9ec0;
}

.ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    top: 5px;
    left: 0;
    padding-left: 16px;
    padding-right: 50px;
    padding-top: 7px;
}

.ng-dropdown-panel {
    border: 1px solid #aa9ec0;
}

/* .ng-select.ng-select-single .ng-select-container .ng-value-container, .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-value {
    background: #fff;
} */

.ng-has-value .ng-placeholder {
    opacity: 0;
}

[dir="rtl"] .ng-select.ng-select-single .ng-select-container .ng-value-container .ng-input {
    padding-right: 10px;
    padding-left: 50px
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-optgroup.ng-option-selected.ng-option-marked {
    background-color: #ebf5ff;
    font-weight: 600
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    background-color: #fff;
    font-size: 14px;
    text-transform: capitalize;
    color: #aa9ec0;
    padding: 0 16px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-marked {
    color: #ffffff !important;
    background-color: #007bff !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked {
    color: #ffffff !important;
    background-color: #007bff !important;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected .ng-option-label, .ng-dropdown-panel .ng-dropdown-panel-items .ng-option.ng-option-selected.ng-option-marked .ng-option-label {
    font-weight: normal
}

.ng-select.ng-select-disabled>.ng-select-container {
    background-color: #ebebe4;
}

/* Collapse */

.collapse-list {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.collapse-open {
    display: none;
}

.collapse-panel {
    max-height: 100%;
    visibility: visible;
    opacity: 1;
    /* transition: max-height .1s, visibility .3s, opacity .3s; */
}

.collapse-open:checked~.collapse-panel {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
}

.collapse-border {
    padding: .5rem 1.25rem 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    margin-top: -1px;
    margin-bottom: 10px;
}

.collapse-list .collapse-btn {
    cursor: pointer;
    display: block;
    transition: background-color .2s ease;
}

/* Menu */

.nav-list {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

.nav-open {
    display: none;
}

.nav-panel {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    /* transition: max-height .1s, visibility .3s, opacity .3s; */
}

.nav-open:checked~.nav-panel {
    max-height: 100%;
    visibility: visible;
    opacity: 1;
}

/* .collapse-border {
    padding: .5rem 1.25rem 1.25rem;
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
    margin-top: -1px;
    margin-bottom: 10px;
} */

.nav-list .nav-btn {
    cursor: pointer;
    display: block;
    transition: background-color .2s ease;
}

@media screen and (max-width: 768px) {
    .mobile-display .modal-dialog {
        max-width: 95%;
    }
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: rgb(130, 77, 230);
    border-color: #aeff5e;
}

.page-link {
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
    color: rgb(91, 80, 150);
    background-color: #eaeaee;
}

.page-item.disabled .page-link {
    color: #868e96;
    pointer-events: none;
    cursor: auto;
    background-color: rgb(227, 206, 255);
    /* border-color: #718393; */
}

.page-link:focus, .page-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: rgb(139, 105, 184);
    border-color: #aeff5e;
}

button.start-js-btn {
    /*background-color: #45b1e8; background-image: linear-gradient(#45b1e8, #055a85);*/
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    border: 0 none;
    border-radius: 4px;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    padding: 1px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.1);
    /*padding: 10px;*/
    text-decoration: none;
    font-family: Helvetica, Arial, Sans-serif;
    /*min-width: 100px;*/
    display: inline-block;
    text-align: center;
    user-select: none;
}

button.start-js-btn:hover {
    /*background-color: #3d9ccc; background-image: linear-gradient(#3d9ccc, #055a85);*/
}

button.start-js-btn:active {
    /*background-color: #055a85; background-image: linear-gradient(#055a85, #3d9ccc);*/
}

.visanet-opened {
    overflow: hidden;
    position: fixed;
}

button.small {
    width: 86px;
    height: 73px;
}

button.medium {
    width: 130px;
    height: 45px;
}

button.large {
    width: 223px;
    height: 49px;
}

button.default {
    width: 187px;
    height: 40px;
}

/*# sourceMappingURL=button.css.map */