<app-header></app-header>
<div class="container-ini">
  <!--   <form
    class="ng-untouched ng-pristine ng-valid"
    action="https://soatservicios.protectasecurity.pe/RestDigital/api/pago/formresponse/1"
    method="POST"
  >
    <script
      src="https://static-content.vnforapps.com/v1/js/checkout.js"
      type="text/javascript"
      data-sessiontoken="542129565"
      data-merchantid="517207314"
      data-buttonsize="MEDIUM"
      data-merchantlogo="https://soatdigital.protectasecurity.pe/assets/logos/logo_protecta_security_cajon.png"
      data-formbuttoncolor="#ED6E00"
      data-amount="73"
      data-purchasenumber="542129565"
    ></script>
  </form> -->
  <div class="top-title">
    <div class="top-main-title">PROTEGEMOS LO QUE</div>
    <div class="top-main-subtitle">MÁS VALORAS.</div>
  </div>
  <div class="cuadro">
    <div class="marco">
      <!-- <form
        class="ng-untouched ng-pristine ng-valid"
        action="https://soatservicios.protectasecurity.pe/RestDigital/api/pago/formresponse/1"
        method="POST"
      >
        <script
          src="https://static-content.vnforapps.com/v1/js/checkout.js"
          type="text/javascript"
          data-sessiontoken="542129565"
          data-merchantid="517207314"
          data-buttonsize="MEDIUM"
          data-merchantlogo="https://soatdigital.protectasecurity.pe/assets/logos/logo_protecta_security_cajon.png"
          data-formbuttoncolor="#ED6E00"
          data-amount="73"
          data-purchasenumber="542129565"
        ></script>
      </form> -->
      <div class="mensaje01">
        ¡Hola! Bienvenido a <br class="si-mobile" />Protecta Security
      </div>
      <hr />
      <div class="mensaje02">
        Ahora comprar tu SOAT electr&oacute;nico <br />
        con Protecta Security es r&aacute;pido, <br />seguro y viene con premio
      </div>
      <div class="container-adquiere-soat">
        <a routerLink="/client"
          ><span class="btn-orange"
            >Compra tu SOAT y participa de los sorteos</span
          ></a
        >
      </div>
    </div>
  </div>
  <div class="banner hidden-xs-down img-fluid">
    <section class="banner-top"></section>
    <section class="banner-bottom">
      <div class="mensaje">
        <p class="line-01"></p>
        <p class="line-02"></p>
      </div>
    </section>
  </div>
  <div class="container-canales">
    <section class="canales">
      <div class="canales-left">
        <p class="texto01">
          ¿Eres un canal aliado o un corredor de seguros de Protecta Security?
        </p>
        <p class="texto02">
          Buscamos crecer de la mano de nuestros socios de negocio, facilitando
          el acceso y la venta de nuestros seguros.
        </p>
      </div>
      <div class="canales-rigth">
        <a routerLink="/broker"
          ><span class="btn-secundario btn-orange"
            >Soy un Corredor de Negocios</span
          ></a
        >
        <a routerLink="/broker"
          ><span class="btn-secundario btn-gray">Soy un Canal Aliado</span></a
        >
      </div>
    </section>
  </div>
</div>
<app-footer></app-footer>
