<div class="container">
  <div class="form-group row">
    <div class="col-sm-12 col-lg-12">
      <div class="title-principal">
        <a>Generaci&oacute;n de Contrase&ntilde;a</a>
      </div>
      <div class="sub-title">
        Este servicio te permite generar de forma segura tu contraseña necesaria
        para ingresar al portal de Protecta.
      </div>
      <hr class="hdivider" />
      <app-retrieve-miga-pan [step]="1"></app-retrieve-miga-pan>
    </div>
  </div>
  <form [formGroup]="retrieveForm" (ngSubmit)="onRetrieve()">
    <div class="form-group row">
      <div class="col-sm-0 col-lg-3"></div>
      <div class="col-sm-0 col-lg-3">
        <label>Documento de Identidad</label>
        <select class="form-control" formControlName="tipdoc">
          <option value="">Selecciona documento de identidad</option>
          <option
            *ngFor="let tipo of documents"
            value="{{ tipo.niddoC_TYPE }}"
            >{{ tipo.sdescript }}</option
          >
        </select>
        <span
          *ngIf="
            !retrieveForm.get('tipdoc').valid &&
            retrieveForm.get('tipdoc').touched
          "
          class="mensaje-error-control"
          >El documento de identidad es requerido</span
        >
      </div>
      <div class="col-sm-0 col-lg-3">
        <label>N&uacute;mero de documento</label>
        <input
          type="text"
          class="form-control"
          placeholder="Ingrese n&uacute;mero de documento"
          maxlength="11"
          (keypress)="soloNumeros($event)"
          formControlName="numdoc"
        />
        <span
          *ngIf="
            !retrieveForm.get('numdoc').valid &&
            retrieveForm.get('numdoc').touched
          "
          class="mensaje-error-control"
          >El n&uacute;mero de documento es requerido</span
        >
      </div>
      <div class="col-sm-0 col-lg-3"></div>
    </div>
    <br />
    <!-- <div class="form-group row">
      <div class="col-sm-0 col-lg-4"></div>
      <div class="col-sm-0 col-lg-4">

      </div>
      <div class="col-sm-0 col-lg-4"></div>
    </div>
    <br> -->
    <div class="form-group row">
      <div class="col-sm-12 col-lg-4"></div>
      <div class="col-sm-12 col-lg-4">
        <button
          type="submit"
          [disabled]="loading || retrieveForm.invalid"
          class="btn btn-warning btn-block"
        >
          Continuar
        </button>
        <img
          alt=""
          *ngIf="loading"
          src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="
        />
        <div *ngIf="error" class="alert alert-danger">{{ error }}</div>
      </div>
      <div class="col-sm-12 col-lg-4"></div>
    </div>
  </form>
</div>

<app-modal #modalRetrieve [close]="false" [extraCss]="true">
  <div class="m-body">
    <div class="row">
      <div class="col-lg-12">
        <h4>{{ message }}</h4>
      </div>
    </div>
    <hr />
    <!--Lista de Polizas -->
    <div class="botones">
      <button type="button" class="btn btn-orange" (click)="closeMessage()">
        Cerrar
      </button>
    </div>
  </div>
</app-modal>
<app-overlay [visible]="loading"></app-overlay>
